﻿

#homeView #header {
    background-color: var(--customBlue);
    height: 90px;
}

#homeView #homeViewHeaderContainer {
    height: 90px;
}

#timeEntryAddHomeViewDiv {
    float: right;
}

#timeEntryAddHomeView {
    color: var(--headerText);
    position: relative;
    top: 53px;
    right: 16px;
    border: none;
}

#usernameDisplay {
    margin-top: 55px;
    margin-left: 16px;
    color: var(--headerText);
    font-size: 17pt;
    display: inline-block;
    width: 75%;
    font-weight: bold;
}

/*FIX TO KEEP HEIGHT OF HEADER WHEN USERNAME IS EMPTY*/
p#usernameDisplay:empty::after {
    content: ".";
    visibility: hidden;
}

#homeView .k-nav-prev {
    display: none;
}

#homeView .k-nav-next {
    display: none;
}

.k-scheduler-table {
    border-bottom: solid 0.5px;
    border-color: lightgrey;
}

#homeView #calendarLegend {
    display: none;
    padding: 8px 0px;
    position: relative;
    width: 100%;
    place-content: flex-end;
    border-bottom: solid 1px var(--customGrey);
}

    #homeView #calendarLegend p {
        margin-left: 4px;
        font-size: 12px;
    }

    #homeView #calendarLegend img {
        height: 11px;
        top: 1px;
        position: relative;
    }

/* SEARCH VIEW */
#searchView #timeEntryAddDefaultDiv {
    display: none;
}

#searchView #resetSearchParams {
    position: relative;
    top: -38px;
    font-size: 16px;
    border: none;
    right: -6px;
    color: white;
    float: right;
    z-index: 6;
}

    #searchView #resetSearchParams.km-state-active {
        background-color: transparent;
    }

        #searchView #resetSearchParams.km-state-active .km-text {
            color: black;
        }

#searchView .km-content {
    padding-left: 0px;
}

#searchView #searchStartDatePickerRow > span {
    left: 18px;
}

#searchView #list-search-phone input {
    width: 74%;
    left: 70px;
}

#searchView .k-datepicker .k-picker-wrap {
    padding-left: 25px;
}

#list-search-phone .km-listview-link::after {
    display: none;
}

#searchView #list-search-phone .k-picker-wrap.k-state-default {
    top: -3px;
}

#searchView #searchStateFilterRow {
    display: inline-flex;
    height: 95px;
    width: 100%;
}

    #searchView #searchStateFilterRow .round label {
        top: 38px;
        right: 28px;
    }

    #searchView #searchStateFilterRow .round #searchStateReleased ~ label {
        right: 38px;
    }

#searchView #searchEntriesButtonRow,
#searchView #searchParamNotesRow {
    border-top: none;
}
#searchView #searchParamNotesRow {
    box-shadow: none !important;
}
#searchView #searchEntriesButton {
    width: 100%;
}

    #searchView #searchEntriesButton .km-text {
        font-size: 1.1em;
    }

#searchView #searchParamNotesRow p {
    color: red;
    margin: 0px;
    display: none;
}
/* END - SEARCH VIEW */
/* STATISTICS VIEW*/
#statView,
#statView .km-content {
    background-color: white;
}

#statView #timeEntryAddDefaultDiv {
    display: none;
}

#statView .k-grid.k-widget.k-display-block:first-child {
    width: 57%;
}

#statView .km-widget tr {
    color: black;
}

img.statImg {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#statView .k-grid {
    margin-top: 15px;
}

#BroadcastHome {
    margin-top: 15px;
    border: solid .5px lightgrey;
    border-radius: 0px;
}

    #BroadcastHome p {
        margin-left: 0px;
    }

/* HOURS VIEW*/
#hoursView #timeEntryAddDefaultDiv {
    display: none;
}

#hoursView #backNavButton {
    left: -36px;
}

#trendHoursGrid {
    margin-top: 25px;
    text-align-last: center;
}

#trendHoursGrid .k-grid-header {
    font-size: 13px;
}

.km-buttongroup > .km-state-active {
    color: #0076BB;
}

#hoursView .k-button.k-state-active:hover {
    border-color: #0076BB;
    background-color: #0076BB;
}

#hourStatsDropdown {
    top: -26px;
    position: relative;
    margin: 0px;
}

    #hourStatsDropdown span.km-icon.km-3dots-swp,
    #hourStatsDropdown span.km-icon.km-3dots-swp {
        /* position: relative; */
        color: white;
        float: right;
        top: -12px;
        right: -9px;
        z-index: 10;
        font-size: 20px;
    }

    #hourStatsDropdown .km-collapsible-content.km-animated {
        width: 100%;
        padding: 0px;
    }

.hourToggleGrounpHeaders {
    height: 40px;
    background-color: var(--customLightGrey);
    font-size: 16px;
    font-weight: 600;
}

.hourHeaderText {
    padding: 11px 16px;
}

#divBNACheckboxes .topToggleEntry,
#divCumulativeCheckboxes .topToggleEntry {
    margin-top: 10px;
}

/*#divBNACheckboxes div:last-child,*/
#divCumulativeCheckboxes div:last-child {
    margin-bottom: 10px;
}

/*ALSO USED FOR TIMERS SETTINGS VIEW TOGGLES*/
.round {
    padding: 10px 16px;
    position: relative;
    height: 40px;
}


#timersSettingsView .round label {
    top: 0px;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 16px;
    height: 25px;
    width: 25px;
}

        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            opacity: 0;
            position: absolute;
            top: 8px;
            left: 6px;
            transform: rotate(-45deg);
            height: 4px;
            width: 9px;
        }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--customBlue);
            border-color: var(--customBlue);
        }

            .round input[type="checkbox"]:checked + label:after {
                opacity: 1;
            }

/*END - ALSO USED FOR TIMERS SETTINGS VIEW TOGGLES*/
#hoursView .km-button {
    width: 33%
}

#buttongroup-stats {
    margin: 12px 0 0 0;
}

#trendHoursGrid tbody {
    color: black;
}

#buttongroup-stats,
#buttongroup-billable {
    width: 100%;
}

/*BOTH HOURS AND STATS GRID ADJUSTMENTS*/

/* center grid col headers */


#trendHoursGrid th.k-header,
#statView th.k-header{
    font-weight: 600;
}

#trendHoursGrid th:first-child,
#trendHoursGrid td:first-child {
    width: 27%;
}

#statView .k-grid-header th.k-header:first-child,
#statView td:first-child {
    width: 105px;
}

#trendHoursGrid th.k-header:not(:first-child)
#trendHoursGrid td:not(:first-child),
#statView .k-grid-header th.k-header:not(:first-child),
#statView td:not(:first-child) {
    text-align: center;
}

/*.fa-caret-square-o-left {
    color: #585858;
}

#divCalBack i {
    color: white;
}

#spanBackStats {
    color: white;
    margin-left: 3px;
}

#divBNACheckboxes {
    font-weight: 400;
    margin-top: 4px;
}

#liAllSaved,
#liHoursStats {
    padding-top: 8px;
}*/
