
@font-face {
    font-family: "customfont";
    src: url("./fonts/SF-Font-Pro.dmg") format("dmg");
    /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */
}

@font-face {
    font-family: 'myDigital';
    src: url('./fonts/digital-webfont.woff2') format('woff2'),
         url('./fonts/digital-webfont.woff') format('woff'),
         url('./fonts/Digital-7.ttf') format("truetype"),
         url('./fonts/digital.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --customBlue: #0381DD;
    --customLightGrey: #f1f1f1;
    --customGrey: #c5c5c5;
    --headerText: white;
    --navbarText: black;
    --custBackColor: white;
}

p {
    margin: 0;
}

.km-ios7 {
    /*font-family: "customfont";*/
    font-family: 'Open Sans', sans-serif;
}
    /*fix for center alignment of listitems*/
    /*.km-ios7 .km-list > li,
    .km-list > li {
        padding-top: 10px;
    }*/

    /*fix for standardizing bottom width for listview elements and removing bottom box-shadow(border)*/
        /*.km-ios7 .km-list > li:last-child {
            box-shadow: none;
        }*/

/*fix for custom coloring of switch when in on position*/
    .k-ios7 span.k-switch,
    .k-switch-on .k-switch-container,
    .k-switch-on:hover .k-switch-container,
    .km-ios7 span.km-switch,
    .km-switch-on:hover .km-switch-container {
        color: var(--customBlue);
    }

.k-switch-on .k-switch-handle,
.k-switch-on:hover .k-switch-handle,
.km-switch-on .km-switch-handle,
.km-switch-on:hover .km-switch-handle {
    border-color: var(--customBlue);
    color: var(--customBlue);
    background-color: var(--customBlue);
}

.k-animation-container .k-calendar td.k-state-focused .k-link {
    background-color: var(--customBlue);
}

/*Fix for placeholder alignments on client/matter/custom views - may need to change the selector to be more specific*/
.km-ios7 .km-filter-wrap > input::-webkit-input-placeholder {
    text-align: left;
}

/*general styling for divider on stack & timers views*/
div#divider {
    border: solid .5px rgba(180,180,180,.5);
    width: 96%;
    position: relative;
    left: 19px;
    top: 10px;
}

/* Todd wasnt seeing the divider on the stack screen, gave it a little less opacity on just that page */
#divStackScroll-Phone div#divider{
  border: solid .5px rgba(180,180,180,.8);
}

/* Hide loading spinner */
.k-loading-mask,
.km-loader {
    display: none;
}

/*LOGIN STYLING*/
#popover-login-phone {
    text-align: center;
}

#loginLogo {
    margin-top: 152px;
    /* height: 168px; */
    /* commenting for now - new 50px logo - should not be resized - adding height difference to margin top to keep centered */
}

#loginTitle {
    font-size: 28px;
}

#list-login-phone li {
    height: 45px;
    width: 95%;
    margin-bottom: 10px;
}

#list-login-phone input {
    width: 93%;
}

#liLogin-phone {
    border: none;
    box-shadow: none;
}

#btnLogin-phone {
    color: var(--customBlue);
    width: 101%;
}

.loginOptionsSection {
    float: left;
    margin-left: 1.1em;
}

#popover-login-phone .loginOptionsSection span.k-switch {
    width: 64px;
}

#loginFailureMessage {
    margin-top: 6em;
    color: red;
    display: none;
}

#guestUserLoginNote {
    position: absolute;
    top: 45em;
}
/*END LOGIN STYLING*/


/*DEFAULT HEADER STYLING*/
#defaultHeaderContainer {
    z-index: 6;
    height: 90px;
    /*border-bottom: solid 0.5px rgba(180,180,180,.5);*/
}

#defaultHeader {
    text-align: center;
    z-index: 5;
    height: 90px;
    border: none;
    background-color: var(--customBlue);
}

#timerColorIndicator {
    display: none;
    position: absolute;
    top: 45px;
    left: 16px;
    color: var(--headerText);
    font-weight: 100;
    font-size: 1em;
    background-color: white;
}

#timerCollapsibleHeader {
    display: none;
}

#pageTitleTop {
    top: 48px;
    width: 40%;
    position: fixed;
    left: 33%;
    color: var(--headerText);
    font-weight: 100;
}

#backNavButton {
    border: none;
    position: absolute;
    top: 31px;
    left: 0px;
    color: var(--headerText);
    font-weight: 100;
    font-size: 1em;
}

    #backNavButton.km-state-active,
    #timeEntryAdd.km-state-active,
    #timeEntryAddHomeView.km-state-active {
        color: transparent;
    }

        #backNavButton.km-state-active span.km-icon.km-back-swp:after,
        #backNavButton.km-state-active span.km-text,
        #timeEntryAdd.km-state-active span.km-icon.km-add-swp:after,
        #timeEntryAddHomeView.km-state-active span.km-icon.km-add-swp:after {
            color: black;
        }

span.km-icon.km-back-swp {
    font-size: 20px;
}

/* #backNavButton .km-text {
    top: 10px;
    color: white;
} */

#timeEntryAddDefaultDiv {
    float: right;
    position: relative;
    top: -16px;
}

#timeEntryAdd {
    border: none;
    color: var(--headerText);
}

.km-add-swp:after,
.km-minus-swp:after {
    font-size: 14px;
    font-weight: bold;
}
/*END - DEFAULT HEADER STYLING*/
/*DEFAULT USER FEEDBACK*/
#userFeedbackMessageContent {
    min-height: 60px;
    padding: 25px 16px;
}

#loadPreviousCollapsibleHeader {
    display: none;
}

/*.km-native-scrolling .km-footer,*/
#tabstrip-phone {
    z-index: 6;
    height: 75px;
    color: var(--customBlue);
    padding-bottom:25px;
}

#userFeedbackMessages {
    position: relative;
    top: -46px;
}

#greyOverlay {
    opacity: .25;
    z-index: 2;
}
/* END - DEFAULT USER FEEDBACK*/
/*Sets margin above all search boxes*/
form.km-filter-form {
    margin-top: 10px;
}

.km-filter-wrap {
    margin: 0px;
}

.km-view .km-header,
.km-view .km-footer,
.km-state-active {
    color: var(--customBlue);
}

div .km-content {
    padding: 16px;
}

#divStackButtons-phone,
#divHomeButtons-phone {
    background-color: rgba(244,244,244,.95);
    color: black;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-evenly;
    font-size: 10pt;
    border-top: solid 1px rgba(180,180,180,.5);
}

    #divStackButtons-phone a,
    #divHomeButtons-phone a {
        border: none;
        margin: 10px 0px;
        padding: 0;
        font-size: 14px;
    }

    #divStackButtons-phone .km-state-active,
    #divHomeButtons-phone .km-state-active {
        background-color: inherit;
    }

        #divStackButtons-phone .km-state-active .km-text,
        #divHomeButtons-phone .km-state-active .km-text {
            color: var(--customBlue);
        }
/* fix for icons */
#phoneApp, #phoneApp .km-header, #phoneApp .km-footer {
    left: 0px !important;
    position: fixed;
    z-index: 14;
}

    #tabstrip-phone .km-button {
        vertical-align: middle;
    }

#tabstrip-phone .k-icon-18 .km-icon {
    font-size: 21px;
    margin: 0px;
}

/*Hybrid Font Icons*/

.km-compose:after,
.km-compose:before {
    content: "\e20a";
}

.km-time-entry:after,
.km-time-entry:before {
    content: "\e08d";
}

.km-calendar-swp:after,
.km-calendar-swp:before {
    content: "\e089";
}

.km-more-swp:after,
.km-more-swp:before {
    content: "\e0a4";
}

.km-logout-swp:after,
.km-logout-swp:before {
    content: "\e0b9";
}

.km-stack-swp:after,
.km-stack-swp:before {
    content: "\e077";
}

.km-clear-swp:after,
.km-clear-swp:before {
    content: "\e01d";
}

.km-backspace-swp:after,
.km-backspace-swp:before {
    content: "\e003";
}

.km-add-swp:after,
.km-add-swp:before {
    content: "\e200";
}

.km-add-circle:after,
.km-add-circle:before {
    content: "\e032";
}

.km-minus-swp:after,
.km-minus-swp:before {
    content: "\e033";
}

.km-downarr-swp:after,
.km-downarr-swp:before {
    content: "\e0d4";
}

.km-3dots-swp:after,
.km-3dots-swp:before {
    content: "\e315";
}

.km-image-resize-swp:after,
.km-image-resize-swp:before {
    content: "\e076";
}

.km-x-swp:after,
.km-x-swp:before {
    content: "\e038";
}

.km-clock-swp:after,
.km-clock-swp:before {
    content: "\e207";
}

.km-warning-swp:after,
.km-warning-swp:before {
    content: "\e0fa";
}
