﻿body {
}

.km-back-swp:after,
.km-back-swp:before {
    content: "\e013";
}


#myHeader {
    background-color: rgba(244,244,244,.95);
    display: inline-block;
    z-index: 0;
    width: 100%;
    transition: visibility 0s .25s, opacity .25s linear;
}

#pageTitleCollapsing {
    font-size: 25px;
    color: black;
    margin: 10px 20px;
}

#TimeEntryCaptureButtonGroup {
    margin-top: 25px;
}
    #TimeEntryCaptureButtonGroup ul {
        width: 100%;
        color: #0076BB;
    }

    #TimeEntryCaptureButtonGroup .km-button {
        width: 30%;
        height: 15px;
        z-index: 1;
    }

    #TimeEntryCaptureButtonGroup .km-state-active {
        background-color: #0076BB;
        border-color: #0076BB;
    }

#session-entries-phone {
    position: relative;
}

.visible {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    transition: visibility .1s, opacity .1s linear;
}


.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility .1s, opacity .1s linear;
}

    #divStackScroll-Phone form .km-filter-wrap {
        margin: 0;
    }

    #divStackScroll-Phone form input {
        height: 25px;
    }

#session-entries-phone > li {
    min-height: 93px;
    border: none;
    box-shadow: none;
}

#session-entries-phone > li > div:first-child {
    min-height: 68px;
}

#stackView #divTouchEntryTemplate-phone div div {
    min-height: 18px;
}

#statusImageTemplate {
    position: absolute;
    left: 0px;
    top: 5px;
    padding-bottom: 10px;
}

.stackViewField {
    margin-left: 20px;
}

#dateTemplate {
    margin-left: 20px;
    position: relative;
    top: -4px;
}

#entriesTemplateHrs {
    position: absolute;
    top: 6px;
    right: 14px;
    background-color: transparent;
    font-size: 16px;
}

#entriesTemplateClient-phone {
    margin-top: -3px;
}

#divTouchEntryTemplate-phone div:empty:before {
    content: attr(data-placeholder);
    color: gray
}


/*#divStackButtons-phone a.km-state-active {
    background-color: var(--customBlue);
}*/