﻿body {
}
/*General Styling*/
.invalidField {
    border: solid red 0.5px !important;
}

#timeEntryView .km-content {
    top: 1px;
}

#timeEntryView #pageTitleTop {
    width: 61%;
    left: 21%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
}

#list-timeform-phone li {
    border-image: none;
}

#timeEntryView #list-timeform-phone label {
    top: 1px;
    position: relative;
}

#list-timeform-phone input {
    top: 23px;
}

    #list-timeform-phone li.inputField {
        height: 45px;
        padding-left: 0px;
    }

        #list-timeform-phone li.inputField a {
            top: 1px;
        }

#list-timeform-phone input {
    left: 44px;
    width: 78%;
}

    /*Offset Adjustment for Duration List Entry*/
    #list-timeform-phone input#fieldDurationTime-phone,
    #list-timeform-phone input#fieldDurationUnits-phone {
        top: 23px;
        left: 29px;
        width: 30%;
    }

#list-timeform-phone a:after {
    display: none;
}

#save-confirm-phone {
    visibility: hidden;
    position: relative;
    top: 3px;
    margin-right: -20px;
}

#release-confirm-phone {
    visibility: hidden;
    position: relative;
    top: 3px;
    margin-right: -20px;
}

#imgStatus-phone {
    position: relative;
    top: 3px;
    left: 2em;
    height: 16px;
}

#toggleEventTitleInfo,
#toggleBillingGuideInfo {
    border: none;
}

#toggleEventTitleInfo {
    right: -2.4em;
    position: relative;
}

#toggleBillingGuideInfo {
    right: -1.9em;
    position: relative;
    display: none;
}

.clipped {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
}

.timeEntryField {
    margin-left: 40px;
}

#timeEntryView #liNarrative-phone {
    box-shadow: none;
}

/*END - GENERAL STYLING*/
/*User Feedback Dropdown*/
.km-collapsible-header .km-warning-swp {
    display: none;
}

/*Generated header Icon automatically closes the header and causes unwanted behavior, switching to a fixed icon*/
#timeEntryView #userFeedbackMessages .km-x-swp {
    z-index: -10;
}

#timeEntryView #userFeedbackMessages #collapsibleHeaderX {
    float: right;
    border: none;
    top: -2.2em;
    right: -0.4em;
    z-index: 7;
    color: black;
    font-size: 1.2em;
}

    #timeEntryView #userFeedbackMessages #collapsibleHeaderX.km-state-active {
        background-color: inherit;
        color: var(--customBlue);
    }

#timeEntryView .km-collapsible-content ul,
#timeEntryView .km-collapsible-content li,
#timeEntryView .bgHeaderText {
    margin: 10px 0px;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}


#timeEntryView #bgHeaderContainer {
    margin: 25px 16px 25px 16px;
}

#timeEntryView #bgViolationContainer,
#timeEntryView #bgReleaseOverrideButtons {
    margin: 0px 16px 25px 16px;
}

#timeEntryView #followBillingGuidelinesTouch {
    margin-left: 25px;
}

    #timeEntryView .bgHeaderText {
        font-weight: 600;
    }

#timeEntryView #billingGuidelineErrors {
    color: red;
}

/*END -User Feedback Dropdowns*/
/* TIMER HEADER & DROPDOWN */
#timeEntryView .km-collapsible-content,
#timersView .km-collapsible-content {
    padding: 0;
    border-bottom: solid black 3px;
}

#timeEntryView #timerName {
    display: flex;
    margin: 27px 16px 25px 16px;
}

#timeEntryView #clientLookupCollapsible,
#timeEntryView #matterLookupCollapsible {
    display: none
}

#timeEntryView #timerColors,
#timersView #timerColors {
    justify-content: space-between;
    display: flex;
    margin: 0px 16px 25px 16px;
}

#timeEntryView #timerName label,
#timersView #timerName label {
    position: relative;
    top: 6px;
}

#timerNameInput {
    width: 85%;
    border-color: black;
}

#timeEntryView #timerColorIndicator,
#timersView #timerColorIndicator {
    height: 28px;
}

#timeEntryView .timerColorOption,
#timersView .timerColorOption {
    border: solid black .5px;
    border-radius: 1em;
    height: 25px;
    width: 25px;
}

#timerColor1 {
    background-color: white;
}

#timerColor2 {
    background-color: aqua;
}

#timerColor3 {
    background-color: brown;
}

#timerColor4 {
    background-color: grey;
}

#timerColor5 {
    background-color: olive;
}

#timerColor6 {
    background-color: yellow;
}

#timerColor7 {
    background-color: lime;
}

#timerColor8 {
    background-color: red;
}

#timerColor9 {
    background-color: orange;
}

#timerColor10 {
    background-color: pink;
}
/* END - TIMER HEADER & DROPDOWN */
/* DATE INPUT FIELD*/
#timeEntryDatePicker-phone-row a.km-state-active {
    background-color: inherit;
    color: var(--customBlue);
}

.k-datepicker .k-select {
    display: inline-block;
}

.k-datepicker .k-picker-wrap {
    text-align: left;
    border: none;
    text-overflow: ellipsis;
    background-color: transparent;
    padding-left: 19px;
    box-shadow: none;
}
/*Selector picking up dropdown lists on Timers Settings Page*/
.k-animation-container {
    position: relative !important;
    top: 110px !important;
    left: 50px !important;
}

.k-calendar .k-content {
    table-layout: auto;
}

.k-calendar .k-month .k-link {
    width: auto;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.k-calendar .k-today .k-link {
    color: #0076BB;
    box-shadow: inset 0 0 2px 1px #0076BB;
}

.k-calendar td.k-today.k-state-focused .k-link {
    color: #ffffff;
}

.k-calendar td.k-state-focused .k-link {
    color: #ffffff;
    box-shadow: inset 0 0 2px 1px #0076BB;
}

.k-calendar td.k-state-selected .k-link {
    background-color: #0076BB;
    border-color: #0076BB;
    box-shadow: none;
}

.k-calendar .k-footer .k-nav-today {
    color: #0076BB;
}

/*END - DATE INPUT FIELD*/
/*CLIENT VIEW STYLES*/
#clientLookupView #timeEntryAddDefaultDiv,
#clientLookupView #divStackButtons-phone {
    display: none;
}

#client-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

.client-listitem {
    padding: 0px !important;
    height: inherit;
}

#clientLookupView .cvClientName {
    margin-top: -11px;
    top: 1px;
    position: relative;
}

#clientLookupView .cvMatterName {
    margin-top: -6px;
}

    .cvMatterName:empty {
        display: none;
    }

/*MATTER VIEW STYLES*/
#matterLookupView #timeEntryAddDefaultDiv,
#matterLookupView #divStackButtons-phone {
    display: none;
}

#matter-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

.matter-listitem {
    padding: 0px !important;
    height: inherit;
}

#matterViewMatterName {
    position: relative;
    top: 2px;
    margin-top: 5px;
}

/* CUSTOM 1 VIEW*/
#custom1LookupView #timeEntryAddDefaultDiv,
#custom1LookupView #divStackButtons-phone {
    display: none;
}

#custom1-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

/* CUSTOM 2 VIEW*/
#custom2LookupView #timeEntryAddDefaultDiv,
#custom2LookupView #divStackButtons-phone {
    display: none;
}

#custom2-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

/* CUSTOM 3 VIEW*/
#custom3LookupView #timeEntryAddDefaultDiv,
#custom3LookupView #divStackButtons-phone {
    display: none;
}

#custom3-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

/* CUSTOM 4 VIEW*/
#custom4LookupView #timeEntryAddDefaultDiv,
#custom4LookupView #divStackButtons-phone {
    display: none;
}

#custom4-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

/* CUSTOM 5 VIEW*/
#custom5LookupView #timeEntryAddDefaultDiv,
#custom5LookupView #divStackButtons-phone {
    display: none;
}

#custom5-listview-phone li {
    padding-top: 12px;
    height: 45px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

/*DURATION STYLING*/
/*INPUT FIELD*/
.invalidDurationField {
    border: solid red 2px !important;
}
/* TIMER INPUT FIELD */
div#durationTouchDiv input {
    margin-top: -15px;
}

#list-timeform-phone #fieldTimer-phone {
    position: relative;
    left: 25px;
    top: 3px;
    /* margin: -5px 0px; */
    text-align: left;
    border: none;
    font-family: myDigital;
    font-size: 19px;
    font-weight: 600;
    color: black;
    background-color: transparent;
    width: 40%;
}

#durationTouchDiv {
    width: 50%;
    display: inline-block;
}

#spanTimerPhone span {
    top: 1px;
    padding: 5px 8px;
    margin: -5px 0px;
    width: 70px;
    -webkit-text-size-adjust: none;
}

#btnStartTimer-phone {
    background-color: green !important;
}

#btnPauseTimer-phone {
    background-color: red !important;
}

    #btnPauseTimer-phone span,
    #btnStartTimer-phone span {
        color: white;
    }


#btnStartTimer-phone,
#btnPauseTimer-phone {
    color: black;
    display: inline-block;
}

#btnClearTimer-phone {
    color: black;
    position: relative;
    display: inline-block;
    right: -23px;
}

/*#btnTimerToggle-phone {
    float: right;
    width: 12%;
    height: 45px;
    top: -8px;
    right: -10px;
    position: relative;
    vertical-align: middle;
    text-align: right;
    z-index: 2;
}*/

#list-timeform-phone #btnTimerToggle-phone {
    z-index: 2;
    float: right;
    position: relative;
    top: -2px;
    right: -22px;
}

#timeEntryView #btnTimerToggle {
    border: none;
}

    #btnTimerToggle-phone img {
        top: 11px;
        right: 10px;
        position: relative;
    }

#spanTimerPhone {
    top: 2px;
}
/* END - TIMER INPUT FIELD */
/*VIEW*/
#durationView #timeEntryAddDefaultDiv,
#durationView #divStackButtons-phone {
    display: none;
}

#durationTouchDiv a {
    text-decoration: none;
    vertical-align: middle;
}

label#lblHours-phone {
    vertical-align: middle;
}

#durationView .km-content {
    padding: 0px;
    background-color: var(--custBackColor);
    padding-top: 20px;
}

#durationViewContent {
    margin: 15px 20px 100%;
    text-align: center;
}

.km-button.duration-button {
    width: 25%;
    margin: 0;
    height: 25%;
    /* box sizing puts the border inside the box so it doesn't add to the 25% width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: var(--customGrey);
    border: solid 5px var(--custBackColor);
    border-radius: 25px;
    padding: 0.8em .8em;
    float: left;
}

    .duration-button div {
        /* center all the button captions */
        width: 15px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        /* attempt to vertically align middle */
        top: 25%;
    }

#button-zero {
    width: 50%;
    position: relative;
}

#button-submit {
    width: 100%;
    margin-top: 10px;
}

#divCalc-phone {
    height: 280px;
    margin: 0;
    /* this solves some jumpiness which was occuring in the hours box when changing between empty and having numbers in it */
    /*position: absolute;*/
    width: 100%;
    top: 130px;
    /* end workaround */
}

#divCalc-phone .km-text {
    vertical-align: middle;
}

/* div that goes around the div which displays the total */
#divDurationTotalParent {
    color: white;
    background-color: black;
    text-align: right;
    width: 97%;
    font-weight: 400;
    display: inline-block;
    position: relative;
    height: 75px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* div which displays the total */
#divDurationTotal {
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 50px;
    height: 60px;
}

#divDurationTotalTime {
    margin-right: 20px;
    margin-top: 8px; /* may need to set this again in phoneBig.css */
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 50px;
    height: 60px;
}

    #divDurationTotalTime #hours {
        display: inline-block;
        margin-right: -13px;
        text-align: center;
        width: 1.4em;
    }

    #divDurationTotalTime #hrMinSeparator,
    #divDurationTotalTime #minSecSeparator {
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
    }

    #divDurationTotalTime #minutes {
        display: inline-block;
        margin-left: -14px;
        margin-right: -13px;
        text-align: center;
        width: 1.4em;
    }

    #divDurationTotalTime #seconds {
        display: inline-block;
        margin-left: -14px;
        text-align: center;
        width: 1.4em;
    }

#divCalc-phone .duration-button.km-widget.km-button.km-state-active, 
#divCalc-phone .duration-button.km-widget.km-button.km-state-active .km-text {
    color: white !important;
    background-color: black;
}

/* center 0 on the duration popover */
#button-zero div {
    left: 53px;
}

#button-backspace,
#button-clear,
#button-add-arrow,
#button-minus-arrow {
    background-color: var(--customBlue); /* 848484 */
    color: white;
}

#button-duration-dot {
    font-weight: 900;
}

#button-add-arrow span {
    vertical-align: middle;
}

#button-minus-arrow span {
    vertical-align: middle;
}

#button-duration-dot .km-state-active {
    color: white;
}

#button-clear.km-state-active,
#button-backspace.km-state-active,
#button-add-arrow.km-state-active,
#button-minus-arrow.km-state-active {
    background-color: white;
    color: var(--customBlue);
}

    #button-clear.km-state-active .km-text,
    #button-add-arrow.km-state-active .km-text,
    #button-minus-arrow.km-state-active .km-text {
        color: var(--customBlue);
    }

.km-clear-swp:after {
    font-size: 18px;
    font-weight: 100;
}

.km-backspace-swp:after,
#button-add-arrow .km-text,
#button-minus-arrow .km-text {
    font-size: 28px;
    font-weight: 100;
}

.alt-buttons-2 {
    padding: 0.7em .8em;
}

#button-backspace .km-backspace-swp {
    left: -5px;
}

#durationView #durationViewErrorMessageDisplay {
    display: none;
    position: relative;
    top: 50px;
    color: red;
}
/*END - DURATION STYLING*/
/*NARRATIVE STYLING*/
#narrativeFullScreenToggle {
    position: absolute;
    right: -23px;
    top: -5px;
    border: none;
    z-index: 5;
    font-size: 1.4em;
    color: darkgrey;
}

#narrativeFullScreenToggle.km-state-active {
    background-color: transparent;
}

#fieldNarrative-phone {
    height: -webkit-fill-available;
    width: 106%;
    resize: inherit;
}
/*END - NARRATIVE STYLING*/