/*General Styling*/
#timersView #session-entries-list-timer li > a {
    position: absolute;
    top: .68em;
    height: 16px;
    width: 16px;
    padding: 0px;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 3px black;
}

#divTouchTimerTemplate-phone .timerInfo {
    margin-left: 28px;
}

#timersView .km-content {
    padding-left: 0px;
    padding-right: 0px;
}

#timersView #session-entries-list-timer > li {
    height: 80px;
    border-image: none;
    padding-right: 1em;
    overflow: visible;
}

#timersView #divTouchTimerTemplate-phone div div {
    min-height: 20px;
    width: 50%;
    margin-right: 0px;
}

#timersView #session-entries-list-timer .timerToggleTouch {
    float: right;
    top: -3.4em;
    position: relative;
    border: solid .5px black;
    /*padding: 17px;*/
    width: 98px;
    height: 54px;
}

#timersView #timerTemplateTimerValue {
    position: relative;
    top: 1em;
    right: -1em;
}

/*Previous Session Dropdown*/
#timersView #loadPreviousCollapsibleHeader {
    padding: 16px;
}

#loadPreviousSessionButtons span a {
    margin: 10px 10px 0px 0px;
    width: 70px;
}

    #loadPreviousSessionButtons span a.km-state-active {
        background-color: var(--customBlue);
        border-color: white;
    }

/*Sort Timers Dropdown*/
#timersView #timerSortToggle {
    position: fixed;
    top: 2.5em;
    z-index: 10;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0px;
    padding: 16px 16px 6px;
}

    #timersView #timerSortToggle.km-state-active {
        background-color: inherit;
    }

#timersView #timersSortList li {
    height: 40px;
}

#timersSortList .timersSettingsHeader {
    background-color: var(--customLightGrey);
}

#timersView #timersSortList .round {
    padding: 0px;
}

    #timersView #timersSortList .round label {
        margin-top: -.6em;
    }

#timersView #timersSortList #sortByTimerDateRow {
    border-top: none;
}

/*Timer Color/Note/Client/Matter Dropdown*/
#timersView #userFeedbackMessages .km-collapsible-content {
    padding: 0px;
}

#timersView #timerCollapsibleHeader div {
    margin: 10px 16px 10px 16px;
}

#timersView #timerCollapsibleHeader input {
    font-size: 1em;
    border: 1px solid;
    line-height: 1.65em;
    border-radius: .25em;
    width: 86%;
    text-indent: .571em;
}

#timersView #timerCollapsibleHeader input::placeholder,
#timersView #timerCollapsibleHeader input::value {
    text-indent: .571em;
}

#timersView #timerCollapsibleHeader a {
    text-decoration: none;
}

/*Timer Kendo Drawer Styling*/
#session-entries-list-timer > li > .k-drawer-container {
    height: 80px;
    top: -74px;
    position: relative;
    width: 0px;
}

#session-entries-list-timer .k-drawer-items ul {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
}

#session-entries-list-timer .k-drawer-items li {
    width: 75px;
    height: 80px;
    padding: 0px;
    justify-content: center;
}

span.k-item-text {
    top: 1.5em;
    /*position: relative;
    height: fit-content;*/
    align-self: center;
}

li#moreTimerOption {
    color: white;
    background-color: gray;
}

li#saveTimerOption {
    color: white;
    background-color: teal;
}

li#releaseTimerOption {
    color: white;
    background-color: var(--customBlue);
}

#timersView .dropDownList {
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    color: var(--customBlue);
    top: 80px;
    border: solid .5px;
}

#timersView .dropDownList div {
    padding: 10px 16px;
}

/*Save/Release Feedback Styling*/
#timersView .imgSave {
    display: none;
    top: 2.5em;
    left: 1.2em;
    position: absolute;
}

#timersView .imgFail {
    display: none;
}

textarea#fieldNarrative-phone:disabled {
    color: darkgray;
}