/* Header Adjustments  */


.km-android .km-header {
    top: 0px;
    position: absolute;
}

.km-on-android #homeView #homeViewHeaderContainer,
.km-on-android #homeView #header,
.km-on-android #settingsView #settingsViewHeaderContainer,
.km-on-android #settingsView .km-header,
.km-on-android #defaultHeaderContainer,
.km-on-android #defaultHeader {
    height: 75px;
}

.km-on-android #pageTitleTop {
    top: 1.3em;
}

.km-on-android #timeEntryAdd {
    top: .38em;
}

.km-on-android #backNavButton {
    top: 0px;
}

.km-on-android #timersView #timerSortToggleTouch {
    top: -2.3em;
}

.km-on-android #timersView #timerSortToggle {
    top: .85em;
}

.km-on-android #timerColorIndicator {
    top: 26px;
}

/* END Header Adjustments  */
/* GENERAL CONTENT ADJUSTMENTS */

/* LOGIN */
.km-on-android #list-login-phone li#liLoginUser, #list-login-phone li#liLoginPass {
    border-image: linear-gradient(to right,transparent .6em,rgba(180,180,180,.9) 1em,rgba(180,180,180,1.0) 100%) 1 stretch;
    width: 93%;
}

.km-on-android #list-login-phone input {
    left: 5px;
}

/* END LOGIN */
.km-on-android .km-list>li {
    background: transparent;
}

.km-on-android .km-button {
    background: transparent;
}

/* Search field adjustments */
.km-on-android .km-filter-wrap {
    background-color: rgb(239, 239, 244);
}

.km-on-android #divStackScroll-Phone form input,
.km-on-android #divClientScroll-Phone form input,
.km-on-android #divMatterScroll-Phone form input,
.km-on-android #divCustom1Scroll-Phone form input,
.km-on-android #divCustom2Scroll-Phone form input,
.km-on-android #divCustom3Scroll-Phone form input,
.km-on-android #divCustom4Scroll-Phone form input,
.km-on-android #divCustom5Scroll-Phone form input {
    width: 95%;
    padding: .3em .5em .3em 1.8em;
}

/* END Search field adjustments */



/* END GENERAL CONTENT ADJUSTMENTS */
/* Footer Adjustments */


.km-on-android #tabstrip-phone {
    display: inline-table;
}

.km-on-android #tabstrip-phone {
    padding-bottom: 0px;
    border: solid 1px rgba(180,180,180,.5);
}

/* .km-on-android .km-tabstrip .km-button {
    color: black;
} */

.km-on-android .km-tabstrip .km-button {
    color: var(--customBlue);
}

.km-on-android .km-tabstrip .km-button:not(.km-state-active) {
    color: #929292;
}

/* END Footer Adjustments */