.km-on-android #settingsView #backNavButton {
    top: 24px;
    left: -10px;
    font-size: 20pt;
}

.km-on-android #settingsView #pageTitleTop {
    top: 40px;
}

.km-on-android #settingsView #backNavButton .km-text, 
.km-on-android #settingsView #debugButton .km-text {
    color: white;
}

.km-on-android #list-settings-phone a,
.km-on-android #list-settings-phone label {
    color: black;
}

.km-on-android #settingsView .km-content {
    top: -2px;
}

.km-on-android #list-settings-phone li {
    padding-right: .7em;
    border-image: linear-gradient(to right,transparent .7em,rgba(180,180,180,.9) 1em,rgba(180,180,180,.5) 100%) 1 stretch;
}

.km-on-android #list-credentials-phone li,
.km-on-android #list-about-phone li,
.km-on-android #list-timers-settings-phone li {
    border-image: linear-gradient(to right,transparent .7em,rgba(180,180,180,.9) 1em,rgba(180,180,180,.5) 100%) 1 stretch;
}

.km-on-android #list-timers-settings-phone .timersSettingsHeader {
    border-image: none 100% 1 0 stretch;
}

.km-on-android #list-credentials-phone textarea {
   left: -18px;
}

.km-on-android #list-credentials-phone input {
    left: 5px;
}

.km-on-android #liSaveCredentials {
    border: none
}


/* FIX FOR ALL LABELS */
.km-on-android #list-timers-settings-phone li a,
.km-on-android #list-timers-settings-phone li span,
.km-on-android #list-timers-presets-phone li span,
.km-on-android #list-blank-timers-phone li span, 
.km-on-android #list-last-posted-cm-phone li span,
.km-on-android #list-timers-presets-phone li span {
    top: 1px;
    position: relative;
}