.km-on-android #usernameDisplay {
    margin-top: 40px;
}

.km-on-android #timeEntryAddHomeView {
    top: .62em;
}

/* Scheduler header (month) height adjustment */
.km-on-android .k-scheduler-toolbar:not(.k-grid) {
    height: 37px;
}