/* HEADER ADJUSTMENTS */
.km-on-android #timeEntryView #timeEntryNarDone {
    top: 2px;
    height: 70px;
}

.km-on-android #timeEntryView #narrativeDone {
    top: .8em;
}

#timeEntryView #timeEntryDescToggle {
    top: -2.3em;
}

.km-on-android #timeEntryView #toggleEntryDescription {
    color: white;
    top: 1em;
}

/* END HEADER ADJUSTMENTS */
.km-on-android #timeEntryView #list-timeform-phone label {
    top: 0px;
    color: black;
}

.km-on-android #list-timeform-phone input {
    left: 24px;
    color: black;
    left: 62px;
}

.km-on-android #timeEntryView .phoneTimeInput {
    left: 23px;
}

.km-on-android #release-confirm-phone, 
.km-on-android #save-confirm-phone {
    left: 23px;
}

.km-on-android #imgStatus-phone {
    left: 3em;
}

.km-on-android #timeEntryView #list-timeform-phone li a.clearEntryField {
    right: -16.21em;
}

.km-on-android #list-timeform-phone input#fieldDurationTime-phone, 
.km-on-android #list-timeform-phone input#fieldDurationUnits-phone {
    left: 46px;
}

.km-on-android #list-timeform-phone #fieldTimer-phone {
    left: 20px;
    font-weight: 400;
}

.km-on-android #spanTimerPhone span {
    top: 3px;
}

.km-on-android #list-timeform-phone #btnTimerToggle-phone {
    right: -13px;
}

.km-on-android #durationViewContent .km-button {
    background: var(--customGrey);
}

.km-on-android #durationViewContent #button-backspace, 
.km-on-android #durationViewContent #button-clear, 
.km-on-android #durationViewContent #button-add-arrow, 
.km-on-android #durationViewContent #button-minus-arrow {
    background-color: var(--customDarkGrey);
    color: white;
}

.km-on-android #button-backspace .km-backspace-swp {
    left: -4px;
    top: -1px;
}

.km-on-android #button-add-arrow span,
.km-on-android #button-minus-arrow span {
    left: -2px;
    top: 4px;
}




.km-on-android #timeEntryView #fieldNarrative-phone {
    left: -20px;
}

.km-on-android #timeEntryView #liNarrative-phone {
    padding: .5em .1em 0em 0em;
}

/* Feedback for client/matter/custom field selection */
.km-on-android li.km-state-active .km-listview-link,
.km-on-android li.km-state-active .km-listview-label {
    background: var(--feedbackGrey);
}

.km-on-android .km-list>li,
.km-on-android .km-list input[type=text]:not(.k-input) {
    font-size: 1.1em;
}

.km-on-android #clientLookupView .cvClientName,
.km-on-android #clientLookupView .cvMatterName,
.km-on-android #matterViewMatterName {
    color:black;
}

/* FOOTER ADJUSTMENTS */
.km-on-android #timeEntryView #divStackButtons-phone {
    bottom: 0px
}

/* END FOOTER ADJUSTMENTS */