/* HEADER ADJUSTMENTS */
.km-on-android #stackView #stackSortToggleTouch,
.km-on-android #stackView #stackIncludeShowToggleTouch {
    top: -2.3em;
}

.km-on-android #stackView #stackSortToggle {
    top: 1em;
}

.km-on-android #stackView #stackIncludeShowToggle {
    top: .74em;
}

.km-on-android #stackView #showCaptureToggleContainer button {
    background-color: white;
    color: black;
}

.km-on-android #stackView #showCaptureToggleContainer button.showCaptureOption {
    background-color: var(--customBlue);
    color: white;
}

/* END HEADER ADJUSTMENTS */
.km-on-android #stackView div#divider {
    top: 3px;
}

.km-on-android #stackView #entriesTemplateNarrative-phone {
    font-weight: 400;
    font-size: 12pt;
}

.km-on-android #divStackScroll-Phone form .km-filter-wrap {
    margin: 0;
    /* color: grey; */
}

.km-on-android #stackView div#divider {
    left: 5px;
    width: 103%;
}

.km-on-android #stackView a#sortDirectionToggle {
    top: -1em;
}
