

#scheduler-phone {
    border: none;
}

/* hide scheduler components */
.k-scheduler-toolbar .k-nav-today,
.k-scheduler-toolbar .k-scheduler-views {
    display: none;
    height: 100%;
}

/* title */
#spanCalMenuTitle {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: block;
}

/* square the grid cells -- nav header takes up 41 pixels + 32 for the cal header 
.k-scheduler {
    max-height: 553px;  
}

.k-scheduler-monthview .k-scheduler-table td  {
    height: 80px !important; 
}


-- these next two don't seem to serve a purpose, I think they were just failed attempts at cleaning up the bottom of the cal
.k-scheduler table,
.k-scheduler-content
{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    border-spacing: 0px !important;
    border-color: transparent !important;
}

#touchCal {
    padding: 0;
    margin: 0;
    border: none;
    height: 600px;
}
*/


/* today */
.k-today {
    background-color: #E6E6E6 !important;    
}

/* center align the nav stuff */
.k-scheduler-toolbar:not(.k-grid),
.k-scheduler-navigation {
    background-color: inherit !important;
    background-image: none !important;
    padding: 5px 0px !important;
    height: 30px;
}

.k-scheduler-navigation {
    padding: 0 !important;
}

.k-scheduler-toolbar .k-reset {
    width: 300px;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    background-clip: content-box;
}

/*.k-scheduler-toolbar .k-reset li {
    
    float: none !important;
}*/

/* clean up nav buttons */
.k-nav-prev,
.k-nav-next {    
    border-radius: 4px !important;
    /* border-left: 1px solid lightgray !important; */
    border: none !important;
    background: none !important;
    background-color: transparent !important;    
}

.k-nav-prev {
    float: left;
}

.k-nav-next {
    float: right;
}  

/* nav chevrons */
.nav-font-aws i {
    color: DarkGray;
    font-size: 15px !important;
    top: -1px;
    position: relative;
}

/* hide little header calendar */
/*.k-nav-current .k-i-calendar {
    display: none;    
}*/
#scheduler-phone .k-scheduler-toolbar li.k-nav-current .k-sm-date-format {
    display: none;
}

#scheduler-phone .k-scheduler-toolbar li.k-nav-current .k-lg-date-format {
    display: inline-block;
    font-weight: bold;
}

.k-scheduler-toolbar:not(i) {
    font-size: 17px !important;
}

.k-scheduler a.k-scheduler-refresh {
    display: none;
    position: absolute;
    top: 0px;
    right: 50px;
}

/* event stuff */
.k-scheduler-monthview div.k-event {
    font-size: 14px;
    line-height: 15px;
    margin-top: 5px;
    min-height: 20px;
    background-color: transparent;
    border: none;
    font-weight: 400;
}

#homeView .k-scheduler-monthview .k-scheduler-table td {
    height: 74px;
    color: black;
}

.k-resize-handle, 
.k-event-actions {
    display: none;
}

.combo-event {            
    padding-right: 5px;
    float: right;
    color: darkblue;   
    font-weight: 600;
}


.saved-event {
    padding-right: 5px;
    float: right;
    color: green;
}

.released-event {
    padding-right: 5px;
    float: right;
    color: blue;
    /*pointer-events: none; this breaks the click*/
}

.posted-event {
    padding-right: 5px;
    float: right;
    color: red;
}
             


/* monthly totals */
#monthly-totals-list {
    background-color: transparent;
    margin: 0px; 
    margin-right: 15px; 
    margin-left: 15px;           
    margin-top: 6px;
    font-size: 0.7em; 
    border: solid 1px darkgray;
    border-radius: 5px;
    width: 285px;
}

#monthly-totals-list li {
    height: 29px;  
    line-height: 29px;
    background-color: white; /* #F2F2F2 */
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 15px;
    border: none;
}

#monthly-totals-list li:first-child {    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#monthly-totals-list li:last-child { 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 42px;
    padding-bottom: 3px;
}

/* labels for totals (saved, released, posted, total) */
#monthly-totals-list label {
    font-weight: 400;   
    display: inline-block;
    padding-top: 0px;    
    font-size: 15px;
    position: relative;
    top: -2px;    
}

/* chicklets */
#monthly-totals-list img {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 19px;
}

/* grid in the side pane with the totals by status */
/* actual numeric totals */
#monthly-totals-list span {
    float: right;    
    margin-right: 100px;
    margin-top: 9px;    
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
}

/* range search date pickers */
#datepickerStart,
#datepickerEnd {
    height: 30px !important;    
    line-height: 30px !important;
    padding: 0;
    margin: 0;       
    opacity: 1 !important; /* override the input:disabled style which dims the text */
}

span.k-datepicker {
    width: 170px;
}

.k-select .k-icon {
    margin-top: -5px;
}

.dateError {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 0px;
    top: 10px;
    padding: 0;
}

/* broad cast box */
#divBroadcast {
    
    min-height: 130px;    
    width: 251px;
    margin-left: 15px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: black;
    padding: 3px;
    padding: 17px;    
    font-weight: 400;
    font-size: 17px
}

/* loading image */
#scheduler .k-loading-image {
    top: -90px;
    left: -160px; /* 2015-3-5: was +150px but it showed up too far to the right */
}
