﻿#homeView div.km-content {
    padding: 0px 0px 0px 0px;
    height: 100vh;
    background-color: var(--customLightGrey2);
}

#homeView #header {
    background-color: var(--customBlue);
    height: 90px;
}

#homeView #homeViewHeaderContainer {
    height: 90px;
}

#timeEntryAddHomeViewDiv {
    float: right;
    position: relative;
    height: 6em;
}

#timeEntryAddHomeView {
    color: var(--headerText);
    border: none;
    font-size: 24pt;
    font-weight: 600;
    top: 1em;
}

#usernameDisplay {
    margin-top: 55px;
    margin-left: 16px;
    color: var(--headerText);
    font-size: 17pt;
    display: inline-block;
    width: 76%;
    font-weight: bold;
}

/*FIX TO KEEP HEIGHT OF HEADER WHEN USERNAME IS EMPTY*/
p#usernameDisplay:empty::after {
    content: ".";
    visibility: hidden;
}

#homeView .k-nav-prev {
    display: none;
}

#homeView .k-nav-next {
    display: none;
}

.k-scheduler-table {
    border-bottom: solid 0.5px;
    border-color: lightgrey;
}

#homeView #calendarLegendContainer {
    background-color: white;
}

#homeView #calendarLegend {
    display: none;
    padding: 8px 0px;
    position: relative;
    width: 100%;
    place-content: flex-end;
    border-bottom: solid 1px var(--customGrey);
}

    #homeView #calendarLegend p {
        margin-left: 4px;
        font-size: 12px;
    }

    #homeView #calendarLegend img {
        height: 11px;
        top: 3px;
        position: relative;
    }

/* SEARCH VIEW */
#searchView #timeEntryAddDefaultDiv,
#searchView #backNavButton {
    display: none;
}

#searchView #resetSearchParamsTouch {
    display: none;
    /* display: block; */
    position: absolute;
    top: 35px;
    right: 0px;
    height: 60px;
}

#searchView #resetSearchParams {
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: white;
}

    #searchView #resetSearchParams.km-state-active {
        background-color: transparent;
    }

        #searchView #resetSearchParams.km-state-active .km-text {
            color: black;
        }

#searchView .km-content {
    padding-left: 0px;
    height: fit-content;
}

#searchView #searchStartDatePickerRow > span {
    left: 18px;
    position: relative;
}

#searchView #list-search-phone input {
    width: 74%;
    left: 70px;
}

#searchView .k-datepicker .k-picker-wrap {
    padding-left: 25px;
}

#list-search-phone .km-listview-link::after {
    display: none;
}

#searchView #list-search-phone .k-picker-wrap.k-state-default,
#searchView #searchStartDatePickerRow label,
#searchView #searchEndDatePickerRow label {
    top: .1em;
    position: relative;
}

#searchView #searchStateFilterRow {
    display: inline-flex;
    height: 85px;
    width: 100%;
}

    #searchView #searchStateFilterRow .round label {
        top: 38px;
        right: 28px;
    }

    #searchView #searchStateFilterRow .round #searchStateReleased ~ label {
        right: 38px;
    }

#searchView #searchEntriesButtonRow,
#searchView #searchParamNotesRow {
    border-top: none;
    border-image: none !important;
    border: none !important;
}

#searchView #searchEntriesButtonRow,
#searchView #searchParamNotesRow {
    box-shadow: none !important;
}

#searchView #searchEntriesButton {
    width: 100%;
}

    #searchView #searchEntriesButton .km-text {
        font-size: 1.1em;
    }

#searchView #searchParamNotesRow p {
    color: red;
    margin: 0px;
    display: none;
}

#searchView .searchSeactionHeader {
    display: block;
    width: fit-content;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14pt;
}

#searchView #searchPresetsRow {
   text-align: center;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 19em;
    /* margin-right: -4px;*/
    margin-left: 10px; 
    padding: 0px;
}

#searchView #searchPresetsRow button.k-button:hover {

}

#searchView #searchPresetsRow button.k-state-active,
#searchView #searchPresetsRow button.k-state-focused {
    color: var(--customBlue);
    background-color: var(--customGrey);
    border-color: var(--customGrey);
    box-shadow: none;
}

#searchView #searchPresetsRow button {
    width: 41%;
    margin: 0px 5px;
    height: 29px;
    margin-left: 6px;
    margin-top: 10px;
    border-radius: .4em;
    background-color: white;
    border-color: var(--customBlue);
    color: black;
    justify-content: center;
    padding: 0px 0px 0px 12px;
    font-size: 11pt;
}


#searchView #searchPresetsRow button img{
    width: 18px;
    margin-right: 12px
}

/*fix for billable button placement*/
#searchView #searchPresetsRow button#billablePresetButton {
    margin-left: 10px;
}

#stackView #showCaptureToggleContainer button.k-state-active {
    background-color: var(--customBlue);
    color: white;
}

/* END - SEARCH VIEW */
/* STATISTICS VIEW*/
#statView,
#statView .km-content {
    background-color: var(--customLightGrey2);
}

#statView .k-grid tr:hover,
#hoursView .k-grid tr:hover {
  background-color: transparent;
}
 
#statView .k-grid tr.k-alt:hover,
#hoursView .k-grid tr.k-alt:hover {
  background-color: #f1f1f1;
}

#statView #backNavButton,
#statView #timeEntryAddDefaultDiv,
#statView #divStackButtons-phone {
    display: none;
}

#statView .k-grid.k-widget.k-display-block:first-child {
    width: 57%;
}

#statView .km-widget tr {
    color: black;
}

img.statImg {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#statView .k-grid {
    margin-top: 15px;
}

#BroadcastHome {
    margin-top: 15px;
    border: solid .5px lightgrey;
    border-radius: 0px;
}

    #BroadcastHome p {
        margin-left: 0px;
    }

/* HOURS VIEW*/
#hoursView div.km-content {
    background-color: var(--customLightGrey2);
}

#hoursView #backNavButton,
#hoursView #timeEntryAddDefaultDiv,
#hoursView #divStackButtons-phone {
    display: none;
}

#trendHoursGrid {
    margin-top: 25px;
    text-align-last: center;
}

#trendHoursGrid .k-grid-header {
    font-size: 13px;
}

#trendHoursGrid .k-header {
   text-align: center;
}

.km-buttongroup > .km-state-active {
    color: #0076BB;
}

#hoursView .k-button.k-state-active:hover {
    border-color: #0076BB;
    background-color: #0076BB;
}

#hourStatsDropdown {
    top: -26px;
    position: relative;
    margin: 0px;
}

    #hourStatsDropdown span.km-icon.km-3dots-swp,
    #hourStatsDropdown span.km-icon.km-3dots-swp {
        /* position: relative; */
        color: white;
        float: right;
        top: -12px;
        right: -9px;
        z-index: 10;
        font-size: 20px;
    }

    #hourStatsDropdown .km-collapsible-content.km-animated {
        width: 100%;
        padding: 0px;
    }

.hourToggleGrounpHeaders {
    height: 40px;
    background-color: var(--customLightGrey);
    font-size: 16px;
    font-weight: 600;
}

.hourHeaderText {
    padding: 11px 16px;
}

#divBNACheckboxes .topToggleEntry,
#divCumulativeCheckboxes .topToggleEntry {
    margin-top: 10px;
}

/*#divBNACheckboxes div:last-child,*/
#divCumulativeCheckboxes div:last-child {
    margin-bottom: 10px;
}

/*ALSO USED FOR TIMERS SETTINGS VIEW TOGGLES*/
.round {
    padding: 10px 16px;
    position: relative;
    height: 40px;
}

#searchView .round {
    padding: 10px 15px;
}

#timersSettingsView .round label {
    top: 0px;
}

#searchView #searchStateFilterRow .round label[for='searchStateReturned'] {
    right: 38px;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 16px;
    height: 25px;
    width: 25px;
}

        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            opacity: 0;
            position: absolute;
            top: 8px;
            left: 6px;
            transform: rotate(-45deg);
            height: 4px;
            width: 9px;
        }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--customBlue);
            border-color: var(--customBlue);
        }

            .round input[type="checkbox"]:checked + label:after {
                opacity: 1;
            }

/*END - ALSO USED FOR TIMERS SETTINGS VIEW TOGGLES*/
/* #hoursView .km-button {
    width: 33%
} */

#buttongroup-stats {
    margin: 12px 0 0 0;
}

#trendHoursGrid tbody {
    color: black;
    text-align: center;
}

#buttongroup-stats,
#buttongroup-billable {
    width: 100%;
}

/*BOTH HOURS AND STATS GRID ADJUSTMENTS*/

/* center grid col headers */
#trendHoursGrid th.k-header,
#statView th.k-header{
    font-weight: 600;
}

/* #trendHoursGrid th:first-child,
#trendHoursGrid td:first-child {
    
    width: 15%;
}

#trendHoursGrid th:last-child,
#trendHoursGrid td:last-child {

    width: 20%;
} */

#statView .k-grid-header th.k-header:first-child,
#statView td:first-child {
    width: 105px;
}

#trendHoursGrid th.k-header:not(:first-child),
#statView .k-grid-header th.k-header:not(:first-child) {
    text-align: center;
}

#statView td:not(:first-child) {
    text-align: right;
    text-align-last: right;
    padding-right: 12px;
}

#statView td:nth-child(4) {
    text-align: right;
    text-align-last: right;
    padding-right: 10px;
}

#trendHoursGrid td:not(:first-child) {
    text-align: right;
    text-align-last: right;
    padding: .4em .1em .4em 0em;
}

#trendHoursGrid th:nth-child(1),
#trendHoursGrid td:nth-child(1) {
    width: 15%;
    padding: .4em 0em;
}

#trendHoursGrid th:nth-child(2),
#trendHoursGrid td:nth-child(2),
#trendHoursGrid th:nth-child(6),
#trendHoursGrid td:nth-child(6) {
    width: 18%;
}

#trendHoursGrid th:nth-child(4),
#trendHoursGrid td:nth-child(4),
#trendHoursGrid th:nth-child(8),
#trendHoursGrid td:nth-child(8) {
    width: 24%;
}

#trendHoursGrid th:nth-child(5),
#trendHoursGrid td:nth-child(5),
#trendHoursGrid th:nth-child(9),
#trendHoursGrid td:nth-child(9) {
    width: 22%;
}

#trendHoursGrid td:nth-child(2),
#trendHoursGrid td:nth-child(6) {
    padding-right: 3%;
}

/* #trendHoursGrid th:nth-child(3), */
#trendHoursGrid td:nth-child(3),
#trendHoursGrid td:nth-child(7) {
    padding-right: 4%;
}

#trendHoursGrid td:nth-child(4),
#trendHoursGrid td:nth-child(8) {
    padding-right: 5%;
}

#trendHoursGrid td:nth-child(5),
#trendHoursGrid td:nth-child(9) {
    padding-right: 4%;
}


/* #statView #divStatScroll-Phone div:first-child td:not(:first-child) {
    padding-right: 28px;
} */