
@font-face {
    font-family: "customfont";
    src: url("./fonts/SF-Font-Pro.dmg") format("dmg");
    /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */
}

@font-face {
    font-family: 'myDigital';
    src: url('./fonts/digital-webfont.woff2') format('woff2'),
         url('./fonts/digital-webfont.woff') format('woff'),
         url('./fonts/Digital-7.ttf') format("truetype"),
         url('./fonts/digital.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --customBlue: #0381DD;
    --customDarkGrey: #777777;
    --customGrey: #c5c5c5;
    --customGrey2: #fafafa;
    --customLightGrey: #f1f1f1;
    --customLightGrey2: rgba(244,244,244,.45);
    --customRed: red;
    --defaultBody: rgb(255, 255, 255);
    --headerText: white;
    --navbarText: black;
    --flaggedEventColor: lightyellow;
    --feedbackGrey: #E6E6E6;
    --holidayCalColor: rgba(187, 187, 187, 0.5);
}

p {
    margin: 0;
}

.km-ios7 {
    /*font-family: "customfont";*/
    font-family: 'Open Sans', sans-serif;
}
    /*fix for center alignment of listitems*/
    /*.km-ios7 .km-list > li,
    .km-list > li {
        padding-top: 10px;
    }*/

    /*fix for standardizing bottom width for listview elements and removing bottom box-shadow(border)*/
        /*.km-ios7 .km-list > li:last-child {
            box-shadow: none;
        }*/

/*fix for custom coloring of switch when in on position*/
    .k-ios7 span.k-switch,
    .k-switch-on .k-switch-container,
    .k-switch-on:hover .k-switch-container,
    .km-ios7 span.km-switch,
    .km-switch-on:hover .km-switch-container,
    .k-switch-on.k-state-focused .k-switch-container, 
    .k-switch-on:focus .k-switch-container,
    .k-switch-on .k-switch-container,
    .k-switch-on.k-state-focused .k-switch-handle, 
    .k-switch-on:focus .k-switch-handle {
        color: var(--customBlue);
    }

.k-switch-on .k-switch-handle,
.k-switch-on:hover .k-switch-handle,
.km-switch-on .km-switch-handle,
.km-switch-on:hover .km-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle, 
.k-switch-on:focus .k-switch-handle {
    border-color: var(--customBlue);
    color: var(--customBlue);
    background-color: var(--customBlue);
}

.k-animation-container .k-calendar td.k-state-focused .k-link {
    background-color: var(--customBlue);
}

/*Fix for placeholder alignments on client/matter/custom views - may need to change the selector to be more specific*/
.km-ios7 .km-filter-wrap > input::-webkit-input-placeholder {
    text-align: left;
}

/*general styling for divider on stack & timers views*/
div#divider {
    border: solid .5px rgba(180,180,180,.5);
    width: 96%;
    position: relative;
    left: 19px;
    top: 7px;
}
/* Hide loading spinner */
/* .k-loading-mask,
.km-loader {
    display: none;
} */

/* timer spinner */
#spinner-phone {
    overflow: hidden;
}

#spinner-phone div {
    overflow: hidden;
}

#divSpinner-phone {
    position: absolute;
}

/* #stackView .scrollDiv, */
#timersView .scrollDiv {
    width: 100%;
}

/*LOGIN STYLING*/
#popover-login-phone {
    text-align: center;
}

#faceID {
    border: none;
    background-color: inherit;
    top: -4px;
    margin-left: 6em;
}

#faceID.k-state-active img {
    color: var(--customBlue);
}

#faceID img {
    height: 30px;
}

/* #popover-login-phone div.km-scroll-container {
    height: 700px;
} */

#loginLogo {
    margin-top: 57px;
    margin-bottom: 10px; /* can pull this if size of logo goes down again */
    width: 40%;
    /* height: 168px; */
    /* commenting for now - new 50px logo - should not be resized - adding height difference to margin top to keep centered */
}

#loginTitle {
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

#list-login-phone li {
    height: 45px;
    width: 95%;
    margin-bottom: 10px;
}

#list-login-phone li#liLoginUser,
#list-login-phone li#liLoginPass {
    height:40px;
    margin-bottom: 5px;
}

#list-login-phone input {
    width: 93%;
    font-size: 14pt;
}

#list-login-phone input::placeholder {
    color: black;
}


li#liLogin-phone {
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}

#btnLogin-phone {
    color: var(--customBlue);
    width: 101%;
}

.loginOptionsSection {
    float: left;
    margin-left: 1.1em;
}

#popover-login-phone .loginOptionsSection span.k-switch {
    width: 64px;
}

#loginToSettings {
    touch-action: none;
    bottom: 30px;
    right: 16px;
    position: absolute;
    border: none;
    color: var(--customDarkGrey);
    font-size: 14pt;
}

#loginToSettings.km-state-active {
    background-color: white;
    color: var(--customBlue);
}

#loginFailureMessage {
    margin-top: 6em;
    color: red;
    display: none;
    font-size: 13pt;
    text-align: left;
}

#guestUserLoginNote {
    position: absolute;
    top: 45.6em;
}
/*END LOGIN STYLING*/


/*DEFAULT HEADER STYLING*/
#defaultHeaderContainer {
    z-index: 6;
    height: 90px;
    /*border-bottom: solid 0.5px rgba(180,180,180,.5);*/
}

#defaultHeader {
    text-align: center;
    z-index: 5;
    height: 90px;
    border: none;
    background-color: var(--customBlue);
}

#timerColorIndicatorTouch,
#timerSortToggleTouch,
#timerCollapsibleHeader,
#timeEntryNarDone,
#timeEntryKeyboardClose,
#stackIncludeShowToggleTouch,
#stackSortToggleTouch,
#sortDirectionToggleTouch,
#timeEntryDescToggle,
#resetSearchParamsTouch,
#massActionCancelTouch,
#settingsView #debugButton { 
    display: none;
}

#timerColorIndicator {
    position: absolute;
    top: 45px;
    left: 16px;
    color: var(--headerText);
    font-weight: 100;
    font-size: 1em;
    background-color: white;
}

#pageTitleTop {
    top: 2.1em;
    width: 40%;
    position: fixed;
    left: 33%;
    color: var(--headerText);
    font-weight: 600;
    font-size: 17pt;
}

#backNavButton {
    border: none;
    position: absolute;
    /* top: 25px; */
    top: 18px;
    /* font-size: 20pt; */
    /* font-weight: 600; */
    left: 0px;
    color: var(--headerText);
    z-index: 3;
}

#backNavButton span {
    /* font-weight: 900; */
    /* font-size: 24pt; */
    font-size: 11pt;
    top: -14px;
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#backNavButton.km-state-active, 
#debugButton.km-state-active {
    color: black;
    background-color: transparent;
}
    
    #timeEntryAdd.km-state-active,
    #timeEntryAddHomeView.km-state-active,
    #keyboardClose.km-state-active,
    #narrativeDone.km-state-active {
        color: transparent;
    }

        #backNavButton.km-state-active span.km-icon.km-back-swp:after,
        #backNavButton.km-state-active span.km-text,
        #timeEntryAdd.km-state-active span.km-text,
        #timeEntryAddHomeView.km-state-active span.km-text,
        #keyboardClose.km-state-active span,
        #narrativeDone.km-state-active span,
        #debugButton.km-state-active span {
            color: black;
        }

span.km-icon.km-back-swp {
    font-size: 20px;
}

/* #backNavButton .km-text {
    top: 10px;
    color: white;
} */

#timeEntryAddDefaultDiv {
    float: right;
    position: relative;
    top: -2.5em;
    right: -9px;
}

#timeEntryAdd {
    border: none;
    color: var(--headerText);
    font-size: 24pt;
    font-weight: 600;
    top: .7em;
    height: 53px;
}

#timeEntryAdd span {
    top: 1px;
    left: -9px;
    position: relative;
}

.km-add-swp:after,
.km-minus-swp:after {
    font-weight: 900;
}
/*END - DEFAULT HEADER STYLING*/
/*DEFAULT FOOTER STYLING*/

#button-massSave-phone,
#button-massRelease-phone,
#button-massFlag-phone,
#button-massRemove-phone {
    display: none;
}


/*DEFAULT USER FEEDBACK*/
#userFeedbackMessageContent {
    min-height: 60px;
    padding: 25px 16px;
}

#loadPreviousCollapsibleHeader {
    display: none;
}

footer.phone-footer{
  position: absolute;
  bottom: 0;
}

/*.km-native-scrolling .km-footer,*/
#tabstrip-phone {
    z-index: 6;
    height: 75px;
    color: var(--customBlue);
    padding-bottom:25px;
    background-color: rgba(244,244,244);
}

#userFeedbackMessages {
    position: relative;
    top: -46px;
}

#greyOverlay {
    opacity: .25;
    z-index: 2;
}
/* END - DEFAULT USER FEEDBACK*/
/*Sets margin above all search boxes*/
form.km-filter-form {
    margin-top: 10px;
}

.km-filter-wrap {
    margin: 0px;
}

.km-view .km-header,
.km-view .km-footer,
.km-state-active {
    color: var(--customBlue);
    /* background-color: rgba(244,244,244); */
}

div .km-content {
    padding: 0px 16px;
}

#divStackButtons-phone,
#divHomeButtons-phone {
    /* background-color: rgba(244,244,244,.95); */
    background-color: rgba(244,244,244);
    color: black;
    height: 4em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-evenly;
    font-size: 10pt;
    border-top: solid 1px rgba(180,180,180,.5);
}

    #divStackButtons-phone a,
    #divHomeButtons-phone a {
        border: none;
        margin: 18px 0px;
        padding: 0;
        font-size: 15px;
        font-weight: 400;
    }

    #divStackButtons-phone .km-state-active,
    #divHomeButtons-phone .km-state-active {
        background-color: inherit;
    }

        #divStackButtons-phone .km-state-active .km-text,
        #divHomeButtons-phone .km-state-active .km-text {
            color: var(--customBlue);
        }
/* fix for icons */
#phoneApp, #phoneApp .km-header, #phoneApp .km-footer {
    left: 0px !important;
    position: fixed;
    z-index: 14;
}

    #tabstrip-phone .km-button {
        vertical-align: middle;
    }

#tabstrip-phone .k-icon-18 .km-icon {
    font-size: 21px;
    margin: 0px;
}


.km-on-ios #modalError .km-header .km-view-title {
    height: 2em;
}

#modalError .km-scroll-container div {
    margin: 10px 5px;
}

/*Hybrid Font Icons*/
.km-add-swp:after,
.km-add-swp:before {
    content: "\e200";
}

.km-backspace-swp:after,
.km-backspace-swp:before {
    content: "\e003";
}

.km-right-arrow-swp:after, 
.km-right-arrow-swp:before {
    content: "\e317"
}

.km-calendar-swp:after,
.km-calendar-swp:before {
    content: "\e089";
}

.km-circle-x-swp:after,
.km-circle-x-swp:before {
    content: "\e031"
}

.km-clear-swp:after,
.km-clear-swp:before {
    content: "\e01d";
}

.km-clock-swp:after,
.km-clock-swp:before {
    content: "\e207";
}

.km-compose:after,
.km-compose:before {
    content: "\e20a";
}

.km-down-arrow-swp:after,
.km-down-arrow-swp:before {
    content: "\e002"
}

.km-filter-swp:after,
.km-filter-swp:before {
    content: "\e06c"
}

.km-star-swp:after,
.km-star-swp:before {
    content: "\e30c"
}

.km-thin-down-arrow-swp:after,
.km-thin-down-arrow-swp:before {
    content: "\e012"
}

.km-image-resize-swp:after,
.km-image-resize-swp:before {
    content: "\e076";
}

.km-returned-swp:after,
.km-returned-swp:before {
    content: "\e0b2";
}

.km-settings-swp:after,
.km-settings-swp:before {
    content: "\e0a4";
}

.km-stack-swp:after,
.km-stack-swp:before {
    content: "\e077";
}

.km-up-arrow-swp:after,
.km-up-arrow-swp:before {
    content: "\e001"
}

.km-sort-arrow-swp:after,
.km-sort-arrow-swp:before {
    content: "\e0f2"
}

.km-warning-swp:after,
.km-warning-swp:before {
    content: "\e0fa";
}

.km-x-swp:after,
.km-x-swp:before {
    content: "\e038";
}

.km-3dots-swp:after,
.km-3dots-swp:before {
    content: "\e315";
}

/* for color on status bar */
.km-on-ios .km-header .km-widget,
.km-on-ios .km-header .km-view-title,
.km-ios7 .km-header .km-widget,
.km-ios7 .km-header .km-view-title
{
    color: white;
}
