/* iPad (including mini Dimensions) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #timersSettingsView #openBlankTimersView {
        padding-right: 22em;
    }

    #timersSettingsView #openLastPostedCMView {
        padding-right: 16em;
    }

    #timersSettingsView #openTimersPresetsView {
        padding-right: 26em;
    }

}

/* iPad (including mini Dimensions) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)  {
}

    /* iPad (including mini Dimensions) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {
}

/* Smaller two iPad dimension group styles in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)  { 

}

/* Smaller two iPad dimension group styles in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : landscape)  {    
}

/* Smaller two iPad dimension group styles in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : portrait)  {
}


/* iPad (mini) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px)  { 
}

/* iPad (mini) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : landscape) {
    #settingsView #backNavButton {
        left: 5.75em;
    }
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : portrait) {
    #settingsView #backNavButton {
        left: 2.75em;
    }

    #list-settings-phone a, #list-settings-phone label {
        top: -1px;
    }
}

/* iPad in Portrait and Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px)  {
    #settingsView #backNavButton {
        left: 5.75em;
    }
}

/* iPad in Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : landscape) {
    #settingsView #backNavButton {
        left: 5.3em;
    }
}

/* iPad in Portrait */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : portrait) {
    #settingsView #backNavButton {
        left: 3em;
    }
}

/* iPad Large in Portrait and Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px)  {
    /* SETTINGS VIEW */
    #settingsView #backNavButton {
        left: 5.75em;
    }
    /* END SETTINGS VIEW */
    /* CREDENTIALS VIEW */
    #list-credentials-phone input {
        left: 10px;
    }
    /* END CREDENTIALS VIEW */
}

/* iPad Large in Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #settingsView #backNavButton {
        left: 8.55em;
    }
}

/* iPad Large in Portrait */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #settingsView #backNavButton {
        left: 7.4em;
    }
}

/* Retina iPad (3 & 4) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
}


/* Retina iPad (3 & 4) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
}


/* Retina iPad (3 & 4) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
}

/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (1 & 2) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}


/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}