/* iPad (including mini Dimensions) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    /* GENERAL STYLES */
    /* #homeView .km-scroll-container, */
    #hoursView .km-scroll-container,
    #statView .km-scroll-container {
        padding: 0px 16px;
    }

    /* .k-animation-container #searchStartDatePicker_dateview,
    .k-animation-container #searchEndDatePicker_dateview, */
    /* GENERAL STYLES END */
    /* SEARCH VIEW */
    .k-animation-container {
        position: relative !important;
        top: 122px !important;
        left: 20em !important;
    }

    #searchView #searchStateFilterRow {
        justify-content: space-around;
    }
    /* SEARCH VIEW END */
    /* HOURS VIEW */
    #trendHoursGrid td:nth-child(2) {
        padding-right: 6%;
    }

    #trendHoursGrid td:nth-child(3) {
        padding-right: 7.5%;
    }

    #trendHoursGrid td:nth-child(4),
    #trendHoursGrid td:nth-child(5) {
        padding-right: 7%;
    }
    /* HOURS VIEW END */
    /* STATS VIEW */
    #statView .k-grid-header th.k-header:first-child, 
    #statView td:first-child {
        width: 125px;
    }

    #statView #table-month-phone td:not(:first-child) {
        padding-right: 9%;
    }

    /* #statView #divStatScroll-Phone div:not(:first-child) {
        padding-right: 9%;
    } */

    /* #statView td:not(:first-child) {
        padding-right: 9%;
    } */
    /* STATS VIEW END */
}

/* iPad (including mini Dimensions) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)  {
    /* GENERAL STYLES */

    /* GENERAL STYLES END */
    /* SEARCH VIEW */

    /* SEARCH VIEW END */
    /* HOURS VIEW */

    /* HOURS VIEW END */
    /* STATS VIEW */

    /* STATS VIEW END */
    
}

    /* iPad (including mini Dimensions) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {
    /* GENERAL STYLES */

    /* GENERAL STYLES END */
    /* SEARCH VIEW */

    /* SEARCH VIEW END */
    /* HOURS VIEW */

    /* HOURS VIEW END */
    /* STATS VIEW */
     
    /* STATS VIEW END */

}

/* Smaller two iPad dimension group styles in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)  {
}

/* Smaller two iPad dimension group styles in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : landscape)  {    
}

/* Smaller two iPad dimension group styles in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : portrait)  {
}


/* iPad (mini) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px)  {
    /* HOME VIEW */
    #timeEntryAddHomeView {
        top: .95em;
    }
    /* HOME VIEW END */
    /* STATS VIEW */
    #statView .k-grid.k-widget.k-display-block:first-child {
        width: 50%;
    }
    /* STATS VIEW END */
}

/* iPad (mini) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : landscape) { 
    /* STATS VIEW */
    #statView td:not(:first-child) {
        padding-right: 9%;
    }
    
     #statView #table-month-phone td:nth-child(2) {
       padding-right: 23%;
    }
    /* STATS VIEW END */
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : portrait) {
    /* STATS VIEW */
    #statView td:not(:first-child) {
        padding-right: 9%;
    }

     #statView #table-month-phone td:nth-child(2) {
       padding-right: 18%;
    }
    /* STATS VIEW END */
}

/* iPad in Portrait and Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px)  {
     /* HOME VIEW */
    #timeEntryAddHomeView {
        top: .95em;
    }
    /* HOME VIEW END */
    /* STATS VIEW */
    
    /* STATS VIEW END */
}

/* iPad in Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : landscape) {
    /* STATS VIEW */
    #statView .k-grid.k-widget.k-display-block:first-child {
        width: 46%;
    }

    #statView #table-month-phone td:nth-child(2) {
       padding-right: 23%;
    }

    #statView td:not(:first-child) {
        padding-right: 10.5%;
    }
    /* STATS VIEW END */
}

/* iPad in Portrait */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : portrait) {
    /* STATS VIEW */
    #statView .k-grid.k-widget.k-display-block:first-child {
        width: 49%;
    }

    #statView #table-month-phone td:nth-child(2) {
       padding-right: 18.1%;
    }

    #statView td:not(:first-child) {
        padding-right: 9%;
    }
    /* STATS VIEW END */
}

/* iPad Large in Portrait and Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px)  {
     /* HOME VIEW */
    #timeEntryAddHomeView {
        top: .95em;
    }
    /* HOME VIEW END */
    /* STATS VIEW */
    
    /* STATS VIEW END */
}

/* iPad Large in Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* STATS VIEW */

    #statView .k-grid.k-widget.k-display-block:first-child {
        width: 44%;
    }

    /* #statView #thHours,
    #statView #table-month-phone td:nth-child(2) {
       width: 25%;
    } */

    #statView #table-month-phone td:nth-child(2) {
       padding-right: 24.4%;
    }

     #statView td:not(:first-child) {
        padding-right: 11%;
    }
    /* STATS VIEW END */

}

/* iPad Large in Portrait */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* STATS VIEW */

    #statView .k-grid.k-widget.k-display-block:first-child {
        width: 50%;
    }

     #statView #table-month-phone td:nth-child(2) {
       padding-right: 19%;
    }

     #statView td:not(:first-child) {
        padding-right: 9%;
    }
    /* STATS VIEW END */
}

/* Retina iPad (3 & 4) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
}


/* Retina iPad (3 & 4) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
}


/* Retina iPad (3 & 4) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
}

/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (1 & 2) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}


/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}