/* iPad (ALL) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .invalidField {
        border: solid red 2.5px !important;
        padding: .4em 1em .4em 0em !important;
        left: 0px;
        width: 100%;
    }


    .km-ios7 .km-collapsible-header {
        visibility: hidden;
    }
}

/* iPad (ALL) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)  {
    
}

/* iPad (ALL) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {
}

/* Smaller two iPad dimension group styles in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)  {

}

/* Smaller two iPad dimension group styles in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : landscape)  {  
}

/* Smaller two iPad dimension group styles in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : portrait)  {
}


/* iPad (mini) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px)  {
    #timersView #timerSortToggleTouch {
        top: -13px;
    }
}

/* iPad (mini) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : landscape) {
    #timersView #timerCollapsibleHeader #timerColors {
        margin: 10px 112px 10px 15px;
    }

    #timeEntryView #timerCollapsibleHeader #timerColors {
        margin: 10px 126px 10px 15px;
    }

    #timersView #timerTemplateTimerValue {
        padding: 1.2em 1.5em 1.2em 4em;
    }
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : portrait) {

    #timersView #timerCollapsibleHeader #timerColors,
    #timeEntryView #timerCollapsibleHeader #timerColors {
        margin: 10px 98px 10px 15px;
    }

    #timersView #timerTemplateTimerValue {
        /* padding: 1.2em 1.5em 1.2em 3em; */
        padding: 1.1em 1.5em 1.2em 3em;
    }
}

/* iPad in Portrait and Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px)  {
    
}

/* iPad in Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : landscape) {
    #timersView #timerSortToggleTouch {
        top: -10px;
    }

    #timersView #timerTemplateTimerValue {
        padding: 1.2em 1.5em 1.2em 5.35em;
    }

    #timersView #timerCollapsibleHeader #timerColors {
        margin: 10px 123px 10px 15px;
    }

    #timeEntryView #timerCollapsibleHeader #timerColors {
        margin: 10px 126px 10px 15px;
    }
}

/* iPad in Portrait */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : portrait) {

    #timersView #timerSortToggleTouch {
        top: -7px;
    }

    #timersView #timerTemplateTimerValue {
        /* padding: 1.2em 1.5em 1.2em 3.8em; */
        padding: 1.1em 1.5em 1.2em 3.2em;
    }

    #timersView #timerCollapsibleHeader #timerColors,
    #timeEntryView #timerCollapsibleHeader #timerColors {
        margin: 10px 101px 10px 15px;
    }
}

/* iPad Large in Portrait and Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px)  {
    
}

/* iPad Large in Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    
    #timersView #timerSortToggleTouch {
        top: -10px;
    }

    #timersView #divTouchTimerTemplate-phone {
        width: 43%;
    }

    #timersView #session-entries-list-timer .timerToggleTouch {
        width: 202px;
        margin-right: 155px;
    }

    #timersView #divTouchTimerTemplate-phone div div#timerTemplateTimerName {
        width: 19em;
    }

    #timersView #divTouchTimerTemplate-phone div div {
        width: 23em;
    }

    #timersView .timerValueBorder {
        margin: 11px 25px;
    }

    #timersView #timerTemplateTimerValue {
        padding: .7em .5em 1em 1.3em;
        font-size: 23px;
    }

    #timersView #timerCollapsibleHeader #timerColors {
        margin: 10px 140px 10px 15px;
    }

    #timeEntryView #timerCollapsibleHeader #timerColors {
        margin: 10px 126px 10px 15px;
    }
}

/* iPad Large in Portrait */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    #timersView #timerSortToggleTouch {
        top: -7px;
    }

    #timersView #session-entries-list-timer .timerToggleTouch {
        width: 202px;
    }

    #timersView #divTouchTimerTemplate-phone div div#timerTemplateTimerName {
        width: 15.8em;
    }

    #timersView .timerValueBorder {
        margin: 11px 25px;
    }

    #timersView #timerTemplateTimerValue {
        padding: .7em .5em 1em 1.3em;
        font-size: 23px;
    }

    #timersView #divTouchTimerTemplate-phone div div {
        width: 19em;
    }

    #timersView #timerCollapsibleHeader #timerColors,
    #timeEntryView #timerCollapsibleHeader #timerColors {
        margin: 10px 98px 10px 15px;
    }
}

/* Retina iPad (3 & 4) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
}


/* Retina iPad (3 & 4) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
}


/* Retina iPad (3 & 4) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
}

/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (1 & 2) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}


/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}