/* iPad (including mini Dimensions) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    #homeView,
    #hoursView,
    #searchView,
    #statView,
    #stackView,
    #timeEntryView,
    #clientLookupView,
    #matterLookupView,
    #custom1LookupView,
    #custom2LookupView,
    #custom3LookupView,
    #custom4LookupView,
    #custom5LookupView,
    #durationView,
    #timersView,
    #settingsView,
    #aboutView,
    #privacyPolicyView,
    #credentialsView,
    #timersSettingsView,
    #blankTimersView,
    #lastPostedCMView,
    #timersPresetsView,
    #timersSettingsView {
        background-color: var(--customDarkGrey);
    }

    #timeEntryView #pageTitleTop {
        width: 33%;
        left: 33%;
    }

    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #durationView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content {
        background-color: var(--defaultBody);
    }
}

/* iPad (including mini Dimensions) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)  {
}

    /* iPad (including mini Dimensions) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {

}

/* Smaller two iPad dimension group styles in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)  { 

}

/* Smaller two iPad dimension group styles in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : landscape)  { 
}

/* Smaller two iPad dimension group styles in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : portrait)  { 

}


/* iPad (mini) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px)  { 
}

/* iPad (mini) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : landscape) { 
    .km-view .km-header {
        padding: 0 10em;
    }

    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #durationView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content {
        padding: 0 10em;
    }

    .km-view .km-footer {
        padding: 0 10em;
    }
    
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : portrait) { 
    .km-view .km-header {
        padding: 0 5em;
    }

    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #durationView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content {
        padding: 0 5em;
    }

    .km-view .km-footer {
        padding: 0 5em;
    }

}

/* iPad in Portrait and Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px)  { 
}

/* iPad in Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : landscape) { 
    .km-view .km-header {
        padding: 0 10em;
    }

    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #durationView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content {
        padding: 0 10em;
    }

    .km-view .km-footer {
        padding: 0 10em;
    }
    
}

/* iPad in Portrait */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : portrait) { 
    .km-view .km-header {
        padding: 0 6em;
    }

    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #durationView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content {
        padding: 0 6em;
    }

    .km-view .km-footer {
        padding: 0 6em;
    }

}

/* iPad Large in Portrait and Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px)  { 

}

/* iPad Large in Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    
    #settingsView #backNavButton {
        left: 8em;
    }

    .km-view .km-header,
    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content,
    .km-view .km-footer {
        padding: 0 16em;
    }

    #durationView.km-view .km-header,
    #durationView div.km-content,
    #durationView.km-view .km-footer {
        padding: 0 25.5em;
    }
}

/* iPad Large in Portrait */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .km-view .km-header {
        padding: 0 14em;
    }

    .km-view div.km-content,
    #homeView div.km-content,
    #hoursView div.km-content,
    #searchView div.km-content,
    #statView div.km-content,
    #stackView div.km-content,
    #timeEntryView div.km-content,
    #clientLookupView div.km-content,
    #matterLookupView div.km-content,
    #custom1LookupView div.km-content,
    #custom2LookupView div.km-content,
    #custom3LookupView div.km-content,
    #custom4LookupView div.km-content,
    #custom5LookupView div.km-content,
    #durationView div.km-content,
    #timersView div.km-content,
    #settingsView div.km-content,
    #aboutView div.km-content,
    #privacyPolicyView div.km-content,
    #credentialsView div.km-content,
    #timersSettingsView div.km-content,
    #blankTimersView div.km-content,
    #lastPostedCMView div.km-content,
    #timersPresetsView div.km-content,
    #timersSettingsView div.km-content {
        padding: 0 14em;
    }

    .km-view .km-footer {
        padding: 0 14em;
    }

}

/* Retina iPad (3 & 4) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
}


/* Retina iPad (3 & 4) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
}


/* Retina iPad (3 & 4) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
}

/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (1 & 2) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}


/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}