/* iPad (ALL) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    /* .k-animation-container #searchStartDatePicker_dateview,
    .k-animation-container #searchEndDatePicker_dateview, */
    #timeEntryView #fieldNarrative-phone {
        width: 100%;
    }

    #timeEntryView #timeEntryDescToggle {
        display: inline-block;
        left: 46px;
        top: -2.4em;
    }

    #clientLookupView .km-scroll-container,
    #matterLookupView .km-scroll-container,
    #custom1LookupView .km-scroll-container,
    #custom2LookupView .km-scroll-container,
    #custom3LookupView .km-scroll-container,
    #custom4LookupView .km-scroll-container,
    #custom5LookupView .km-scroll-container {
        padding: 0px 16px;
    }

    #release-confirm-phone,
    #save-confirm-phone {
        left: 50px;
    }

    #imgStatus-phone {
        left: 3em;
    }

    #timeEntryView #liNarrative-phone {
        padding: .5em .7em 0em;
    }

    #timeEntryView #narrativeCountContainer {
        display: inline-block;
    }

}

/* iPad (ALL) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)  {
}

    /* iPad (ALL) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {
    
}

/* Smaller two iPad dimension group styles in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)  {
}

/* Smaller two iPad dimension group styles in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : landscape)  {
    #timeEntryView #list-timeform-phone li a.clearEntryField {
        right: -38.9em;
    }
}

/* Smaller two iPad dimension group styles in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : portrait)  {
}

/* iPad (mini) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px)  { 

    #timeEntryView #list-timeform-phone label {
        left: 16px;
         top: -2px;
    }

    #timeEntryView #list-timeform-phone label[for="timeEntryDateInput"] {
        top: 1px;
    }

    #list-timeform-phone #fieldClient_phone {
        width: 67%;
    }

    #list-timeform-phone input {
        left: 105px;
        width: 75%;
    }

    #timeEntryView .phoneTimeInput {
        left: 56px;
    }

    #list-timeform-phone input#fieldDurationTime-phone, 
    #list-timeform-phone input#fieldDurationUnits-phone {
        top: 19px;
        left: 87px;
    }

    #list-timeform-phone #fieldTimer-phone {
        top: -2px;
        left: 70px;
    }

    .k-picker-wrap .k-select {
        border-image: linear-gradient(to top,transparent .2em,rgba(180,180,180,.9) 1em,rgba(180,180,180,.5) 100%) 1 stretch;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        top: 6px;
    }

    #spanTimerPhone span {
        top: -1px;
    }

    #list-timeform-phone #btnTimerToggle-phone {
        top: -8px;
    }
}

/* iPad (mini) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : landscape) {
    
    #release-confirm-phone, 
    #save-confirm-phone {
        left: 40px;
    }

    #imgStatus-phone {
        left: 4em;
    }

    #list-timeform-phone #toggleBillingGuideInfo {
        right: -23.15em;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        right: -34.55em;
    }

    #list-timeform-phone #btnTimerToggle-phone {
        right: 0em;
    }

     #list-timeform-phone #fieldClient_phone {
         width: 74%;
     }

     #list-timeform-phone input {
         width: 79%;
     }
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : portrait) {

    #imgStatus-phone {
        left: 75px;
    }

    #list-timeform-phone #toggleBillingGuideInfo {
        right: -17.6em;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        right: -29.4em;
    }

    #list-timeform-phone #btnTimerToggle-phone {
        right: .1em;
    }

     #list-timeform-phone #fieldClient_phone {
         width: 67%;
     }

     #list-timeform-phone input {
         width: 75%;
     }
}

/* iPad in Portrait and Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px)  {
    #list-timeform-phone #btnTimerToggle-phone {
        right: .2em;
    }

    #timeEntryView #list-timeform-phone label {
        top: 1px;
        left: 16px;
    }

    #timeEntryView #list-timeform-phone label[for="timeEntryDateInput"] {
        top: 1px;
    }

    #timeEntryView .phoneTimeInput {
        top: -1px;
        left: 52px;
    }

    #list-timeform-phone input {
        left: 93px;
    }

    /* .k-picker-wrap .k-select {
        border-image: linear-gradient(to top,transparent .1em,rgba(180,180,180,.9) 1em,rgba(180,180,180,.5) 100%) 1 stretch;
    } */

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        top: 10px;
    }

    #list-timeform-phone input#fieldDurationTime-phone, 
    #list-timeform-phone input#fieldDurationUnits-phone {
        top: 22px;
        left: 77px;
    }

    #spanTimerPhone span {
        top: 2px;
    }

    #list-timeform-phone #btnTimerToggle-phone {
        top: -5px;
    }
}

/* iPad in Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : landscape) {

    #release-confirm-phone, 
    #save-confirm-phone {
        left: 55px;
    }

    #imgStatus-phone {
        left: 87px;
    }

    #list-timeform-phone #toggleBillingGuideInfo {
        right: -28.3em;
    }

    #list-timeform-phone #fieldTimer-phone {
        top: 2px;
        left: 65px;
    }

    #list-timeform-phone #fieldClient_phone {
        width: 75%;
    }

    #list-timeform-phone input {
        width: 83%;
    }
}

/* iPad in Portrait */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : portrait) {

    #imgStatus-phone {
        left: 75px;
    }

    #list-timeform-phone #toggleBillingGuideInfo {
        right: -19.5em;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        right: -30.74em;
    }

    #list-timeform-phone #fieldTimer-phone {
        top: 2px;
        left: 65px;
    }

    #list-timeform-phone #fieldClient_phone {
        width: 70%;
    }

    #list-timeform-phone input {
        width: 79%;
    }
}

/* iPad Large in Portrait and Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px)  {

    #list-timeform-phone #toggleBillingGuideInfo {
        right: -28.3em;
    }

    #timeEntryView #list-timeform-phone label {
        top: 2px;
        left: 16px;
    }

    #timeEntryView #list-timeform-phone label[for="timeEntryDateInput"] {
        top: 3px;
    }

    #list-timeform-phone input {
        left: 93px;
    }

    #timeEntryView .phoneTimeInput {
        left: 53px;
    }

    #release-confirm-phone, 
    #save-confirm-phone {
        left: 55px;
    }

    #imgStatus-phone {
        left: 85px;
    }

    .k-picker-wrap .k-select {
        border-image: linear-gradient(to top,transparent .2em,rgba(180,180,180,.9) 1em,rgba(180,180,180,.5) 100%) 1 stretch;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        top: 10px;
    }

    #list-timeform-phone input#fieldDurationTime-phone, 
    #list-timeform-phone input#fieldDurationUnits-phone {
        top: 22px;
        left: 77px;
    }

    #spanTimerPhone span {
        top: 2px;
    }

    #list-timeform-phone #fieldTimer-phone {
        top: 4px;
        left: 65px;
    }

    #list-timeform-phone #btnTimerToggle-phone {
        top: -4px;
        right: .2em;
    }
}

/* iPad Large in Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    #timeEntryView .phoneTimeInput {
        top: -1px;
    }
    
    #list-timeform-phone #toggleBillingGuideInfo {
        right: -34.6em;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        right: -44.8em;
    }

    #list-timeform-phone #fieldClient_phone {
        width: 78%;
    }

    #list-timeform-phone input {
        width: 85%;
    }

}

/* iPad Large in Portrait */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    #timeEntryView .phoneTimeInput {
        top: 2px;
    }

    #list-timeform-phone #toggleBillingGuideInfo {
        right: -18.3em;
    }

    #timeEntryView #list-timeform-phone li a.clearEntryField {
        right: -29.6em;
    }

    #list-timeform-phone #fieldClient_phone {
        width: 69%;
    }

    #list-timeform-phone input {
        width: 78%;
    }
}

/* Retina iPad (3 & 4) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
}


/* Retina iPad (3 & 4) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
}


/* Retina iPad (3 & 4) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
}

/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (1 & 2) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}


/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}