/* iPad (including mini Dimensions) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .km-tablet .km-filter-wrap {
        max-width: 100em;
    }
}

/* iPad (including mini Dimensions) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)  {
}

    /* iPad (including mini Dimensions) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {

}

/* Smaller two iPad dimension group styles in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)  { 

}

/* Smaller two iPad dimension group styles in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : landscape)  {    
}

/* Smaller two iPad dimension group styles in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 834px)
and (orientation : portrait)  {
}


/* iPad (mini) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px)  {
    #stackView #stackSortToggleTouch {
        top: -13px;
    }

    #stackView #stackIncludeShowToggleTouch {
        top: -18px;
    }

    #timeEntryAdd span {
        top: 0px;
    }
}

/* iPad (mini) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : landscape) {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 809px) 
and (orientation : portrait) {
}

/* iPad in Portrait and Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px)  {
}

/* iPad in Landscape */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : landscape) {
    #stackView #stackSortToggleTouch {
        top: -10px;
    }

    #stackView #stackIncludeShowToggleTouch {
        top: -15px;
    }

    #timeEntryAdd span {
        top: -2px;
    }
}

/* iPad in Portrait */
@media only screen 
and (min-device-width : 810px) 
and (max-device-width : 834px) 
and (orientation : portrait) {
    #stackView #stackSortToggleTouch {
        top: -7px;
    }

    #stackView #stackIncludeShowToggleTouch {
        top: -12px;
    }

    #timeEntryAdd span {
        top: 2px;
    }
}

/* iPad Large in Portrait and Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px)  {
    
}

/* iPad Large in Landscape */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    #stackView #session-entries-phone {
        min-height: 750px;
    }

     #stackView #stackSortToggleTouch {
        top: -10px;
    }

    #stackView #stackIncludeShowToggleTouch {
        top: -15px;
    }

    #timeEntryAdd span {
        top: -2px;
    }
}

/* iPad Large in Portrait */
@media only screen 
and (min-device-width : 835px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    #stackView #session-entries-phone {
        min-height: 1093px;
    }

    #stackView #stackSortToggleTouch {
        top: -8px;
    }

    #stackView #stackIncludeShowToggleTouch {
        top: -11px;
    }

    #timeEntryAdd span {
        top: 2px;
    }
}

/* Retina iPad (3 & 4) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
}


/* Retina iPad (3 & 4) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
}


/* Retina iPad (3 & 4) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
}

/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (1 & 2) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}


/* iPad (1 & 2) in Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}

/* iPad (1 & 2) in Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}

/* iPad (mini) in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
}