/*
* In CSS replace 4ECCC4 with 0075bb
*/

/* Backgrounds set in JS (onShow event)*/

/* force scroll on cal / sched */
#touchCal-phone{
  height: 75vh;
  overflow: auto;
}

/* add padding to make room for title div */
#duration-phone > div.km-content,
#tabstrip-phone-timeentry > div.km-content,
#tabstrip-phone-stack > div.km-content,
#tabstrip-phone-home > div.km-content,
#tabstrip-phone-settings > div.km-content,
#popover-login-phone > div.km-content{
  padding-top: 42px !important;
  overflow: auto;
}
.dw-persp {
    margin-top: 42px !important;
}

.dwo {
    background-color: transparent !important; /* this works for both platforms */
}

.dwwr {
    background-color: white !important;
}


/*  ios 10 +*/
#phoneApp,
#phoneApp .km-header,
#phoneApp .km-footer {
 padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
 padding-top: env(safe-area-inset-top); /* iOS 11.2 */
 padding-left: constant(safe-area-inset-left); /* iOS 11.0 */
 padding-left: env(safe-area-inset-left); /* iOS 11.2 */
 padding-right: constant(safe-area-inset-right); /* iOS 11.0 */
 padding-right: env(safe-area-inset-right); /* iOS 11.2 */
 padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
 padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}

/* fix for icons */
#phoneApp, #phoneApp .km-header, #phoneApp .km-footer {
    left: 0px !important;
    position: fixed;
    z-index: 14;
}

/* -------------------------------------*/
/*            TABLET STUFF              */
/* -------------------------------------*/


.dw-bubble-bottom {
    border: 2px solid black;
    border-radius: 5px;
    top: 80px !important;
}

/* for title of the date box */
.dw-persp .km-header {
    background-color: rgb(0, 74, 129);
    color: white;
    border-bottom: 2px solid black;
}

.dw-persp .km-view-title {
    height: 45px !important;
}

.dw-persp .km-view-title span {
    position: relative;
    top: 2px;
}

.dw-persp .km-header span {
    font-weight: normal;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    text-align: center;
    font-size: 20px;
    line-height: 2.0em !important;
    font-family: Arial;
}

/* hide pointer thing */
.dw-arrw {
    display: none;
}

/* remove some space per todd */
.dwbc {
    padding-bottom: 0px !important; /*default is 8*/
    margin-top: -8px !important;
}

#modalError > div.km-header{
    position: relative;
}
