div#divModalDeleteButtons {
    margin-top: 15px;
    text-align: initial;
}

#modalDelete p {
    margin-top: 30px;
    font-size: 20px;
}

#spanCancelDelete {
    margin-left: 37px;
    background-clip: content-box;
}

#spanYesDelete {
    margin-left: 44px;
    background-clip: content-box;

}

#modalDelete button {
    font-size: 16px;
}