﻿/* SETTINGS VIEW */
#settingsView .km-header {
    z-index: 6;
    height: 90px;
    background-color: var(--customBlue);
}

#settingsView #backNavButton {
    top: 36px;
    left: -10px;
    font-size: 20pt;
}

#settingsView #backNavButton .km-text,
#settingsView #debugButton .km-text {
    font-size: 14pt;
    font-weight: bold;
}

#settingsView #pageTitleTop {
    top: 55px;
    left: 43%;
    font-size: 17pt;
    font-weight: bold;
}

#settingsView #debugButton {
    top: 51px;
    float: right;
    border: none;
}

#settingsView .km-back-swp:after, 
#settingsView #timeEntryAddDefaultDiv {
    display: none;
}

#settingsView .km-content {
    padding-left: 0px;
    padding-right: 0px;
    top: 1px;
}

#list-settings-phone li {
    height: 45px;
    padding-right: 16px;
}

#list-settings-phone a,
#list-settings-phone label {
    position: relative;
    top: 3px;
}

#settingsView span.k-switch {
    float: right;
    top: -2px;
    position: relative;
}

#settingsView .k-switch-on.k-state-focused,
#settingsView .k-switch-on:focus,
#settingsView .k-switch-off.k-state-focused,
#settingsView .k-switch-off:focus {
    box-shadow: none;
    border-color: #bbb;
}

    #settingsView .k-switch-off.k-state-focused .k-switch-handle,
    #settingsView .k-switch-off:focus .k-switch-handle {
        color: inherit;
        background-color: #e9e9e9;
        border-color: #bbb;
    }

#settingsView li#liOfflinePass-phone {
    border-bottom: solid 1px;
    box-shadow: none;
}


/* CREDENTIALS VIEW */
#credentialsView #timeEntryAddDefaultDiv {
    display: none;
}

#credentialsView #greyOverlay {
    opacity: 0;
    z-index: 10;

}

#credentialsView .km-content {
    top: 1px;
    padding-right: 0px;
    padding-left:0px;
}

#list-credentials-phone li {
    height: 75px;
    box-shadow: none;
    padding-right: 20px;
    /* border-image: none; */
}

#credentialsView #invalidFirmCodeFetch {
    float: right;
    display: none;
    color: red;
    font-size: 12pt;
}

#credentialsView #btnFetchFirmCode-phone {
    display: block;
    position: fixed;
    right: 16px;
}

#list-credentials-phone input#txtFirmCode-phone {
    width: 74%;
    margin-right: 19%;
}

#list-credentials-phone li#liSaveCredentials {
    text-align: center;
    /* padding-right: 56px; */
}

#list-credentials-phone #liSettingsCredentials {
    height: fit-content;
}

#btnSaveSettings-phone {
    width: 90%;
    margin-top: 20px;
}

#list-credentials-phone textarea {    
    height: fit-content;
    width: 101%;
    resize: none;
}

#list-credentials-phone input {
    width: 93%;
    margin-top: 3px;
}

#imgSaveCredentials-phone {
    display: none;
    height: 13px;
}



/* ABOUT VIEW */
#aboutView #timeEntryAddDefaultDiv {
    display: none;
}

#aboutView .km-content {
    top: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

#list-about-phone li {
    height: 45px;
    padding-right: 16px;
}

#aboutView #liAboutSTP, 
#aboutView #liAboutKnowledge, 
#aboutView #liAboutURL, 
#aboutView #liAboutCpywrt {
    padding-top: 10px;
}

#aboutView #liAboutCpywrt {
    box-shadow: none;
    border-bottom: solid 1px;
}

#aboutView #list-about-phone li span {
    position: relative;
    top: 2px;
}

#aboutVersionNumber {
    float: right;
    margin-top: 3px;
}

#list-about-phone a:after {
    display: none;
}

/* Alert */
#liSettingsSaveAlert-phone {
    border: none;
    color: red;
}


/* TIMERS VIEW*/
#timersSettingsView .km-content,
#blankTimersView .km-content,
#lastPostedCMView .km-content,
#timersPresetsView .km-content {
    top: 1px;
    padding: 0px;
}

#timersSettingsView #timeEntryAddDefaultDiv,
#blankTimersView #timeEntryAddDefaultDiv,
#lastPostedCMView #timeEntryAddDefaultDiv,
#timersPresetsView #timeEntryAddDefaultDiv,
#privacyPolicyView #timeEntryAddDefaultDiv {
    display: none;
}

#blankTimersView #list-blank-timers-phone li,
#lastPostedCMView #list-last-posted-cm-phone li,
#timersPresetsView #list-timers-presets-phone li {
    /* padding-left: 0px; */
    height: 40px;
}

#blankTimersView #list-blank-timers-phone li .round,
#lastPostedCMView #list-last-posted-cm-phone li .round,
#timersPresetsView #list-timers-presets-phone li .round {
    padding: 0px;
}

#blankTimersView #list-blank-timers-phone li .round label,
#lastPostedCMView #list-last-posted-cm-phone li .round label,
#timersPresetsView #list-timers-presets-phone li .round label {
    margin-top: -.6em;
}


    #blankTimersView #list-blank-timers-phone li:last-child,
    #lastPostedCMView #list-last-posted-cm-phone li:last-child,
    #timersPresetsView #list-timers-presets-phone li:last-child {
        border-bottom-width: 1px;
        box-shadow: none;
    }

#liSortByTimerName {
    margin-top: 10px;
}

#liBlankRows {
    border-image: none 100% 1 0 stretch;
}

#liPreviousSession,
#liSortByTimerColor {
    margin-bottom: 10px;
    border-bottom: solid 1px;
}

#list-timers-settings-phone li a {
    text-decoration: none;
    padding-right: 10em;
}

#list-timers-settings-phone span.k-widget.k-dropdown {
    left: 16px;
    width: 80%;
    text-align: left;
}

#list-timers-settings-phone .timersSettingsHeader {
    background-color: var(--customLightGrey);
    /* width: 110%; */
}

#list-timers-settings-phone li {
    /* border: none; */
    height: 40px;
    /*left: -16px;*/
    box-shadow: none;
}

#list-timers-settings-phone .round {
    padding: 0px;
}


#timersSettingsView #timerBlankRows {
    height: 30px;
    width: 80%;
    left: -16px;
}

#timersSettingsView  #openBlankTimersView {
    padding-right: 11em

}

#timersSettingsView  #openLastPostedCMView {
    padding-right: 5em

}

#timersSettingsView  #openTimersPresetsView {
    padding-right: 15em

}

#timerLastPostedClientMatters {
    left: 20px;
}

div.balSlider .k-slider-selection {
    display: none;
}

.km-widget .k-slider .k-button, 
.km-widget .k-slider .k-label, 
.km-widget .k-slider .k-tick {
    display: inline-table;
}

#timersSettingsView .k-reset.k-slider-items {
    left: 8px;
    position: relative;
}

.km-ios7 .k-slider-horizontal .k-slider-track {
    right: 0px;
}

.k-button.k-button-increase {
    top: -8px;
    right: -16px;
}

.k-button.k-button-decrease {
    top: -8px;
    left: -16px;
}

ul.k-reset.k-slider-items {
    right: -8px;
    position: relative;
}

/*PRESETS VIEW*/

#timersPresetsView #loadTimerPresetsButton {
    color: var(--customBlue);
    width: 80%;
    margin: 10%;
}

#timersPresetsView #loadTimerPresetsButtonTouch {
    align-content: center;
}
/*BLANK TIMERS VIEW*/


/*LPCM VIEW*/
#lastPostedCMView #pageTitleTop {
    width: 66%;
    left: 17%;
}



/* DEBUGGING VIEWS */
body #popover-debug-phone,
body #popover-debug-log-phone {
    padding: 50px 0px 0px;
}

body #popover-debug-phone li,
body #popover-debug-log-phone li {
    overflow-wrap: break-word;
}

/* Privacy Policy */
#privacyPolicyView #pageTitleTop {
    width: 50%;
    left: 25%;

}

