﻿.km-back-swp:after,
.km-back-swp:before {
    content: "\e013";
    font-weight: 900;
}

/* GENERAL STYLING */
#stackView div.km-content {
    padding: 0px;
}

#stackView form.km-filter-form {
    margin: 10px 0px;
    padding: 0px 16px;
}

/* hide header close icon x */
#stackView span.km-icon.km-x-swp {
    display: none;
}

/*Header Styling*/
#stackView #backNavButton {
    display: none;
}

#pageTitleCollapsing {
    font-size: 25px;
    color: black;
    margin: 10px 20px;
}

#stackView #stackIncludeShowToggleTouch {
    display: block;
    float: left;
    top: -10px;
    left: -20px;
    position: relative;
    color: white;
}

#stackView #sortDirectionToggleTouch {
    display: block;
    float: right;
    top: -10px;
    height: 56px;
    right: -10px;
    position: relative;
    color: white;
}

#stackView a#sortDirectionToggle {
    border: none;
    color: var(--headerText);
    font-size: 16pt;
    font-weight: 600;
    height: 53px;
}

#stackView a#sortDirectionToggle span {
    top: -2px;
    position: relative;
}


#stackView #stackSortToggleTouch {
    display: block;
    float: left;
    top: -10px;
    position: relative;
    color: white;
}

#stackView #stackSortToggle,
#stackView #stackIncludeShowToggle,
#stackView #sortDirectionToggle {
    border: none;
}

#stackView #stackSortToggle.km-state-active,
#stackView #stackIncludeShowToggle.km-state-active,
#stackView #massActionCancel.km-state-active,
#stackView #sortDirectionToggle.km-state-active {
    background-color: inherit;
    color: black;
}

#stackView #massActionCancelTouch {
    display: none;
    /* display: block; */
    position: absolute;
    top: 35px;
    right: 0px;
    height: 60px;
}

#stackView #massActionCancel {
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: white;
    
}

/* DROPDOWN HEADER */
#stackView #userFeedbackMessages .km-collapsible-content {
    padding: 0px;
}

#stackView #stackSortList li {
    height: 40px;
    border-image: none;
}

#stackView #stackSortList .round {
    padding: 0px;
}

#stackView #stackSortList .round label {
    margin-top: -.6em;
}

#stackSortList .stackSettingsHeader {
    background-color: var(--customLightGrey);
    font-weight: 600;
}

#stackView #showCaptureToggleContainer {
    margin: 2px 10px 10px;
    text-align: center;
}

#stackView #showCaptureToggleContainer button {
    padding: 0px;
    margin: 8px 4px 0px;
    height: 29px;
    margin-left: 6px;
    width: 47%;
    margin-top: 10px;
    border-radius: .4em;
    border-color: var(--customBlue);
    border-style: solid;
    color: black;
    font-size: 11pt;
}

#stackView #showCaptureToggleContainer button.showCaptureOption {
    background-color: var(--customBlue);
    color: white;
}

#stackView #toggleAllCaptureParamsButton {
    /* float: right;
    right: 17px; */
    left: 27px;
    height: 100%;
    padding: 2px 13px;
    color: var(--customBlue);
}

#TimeEntryCaptureButtonGroup {
    margin-top: 25px;
}
    #TimeEntryCaptureButtonGroup ul {
        width: 100%;
        color: #0076BB;
    }

    #TimeEntryCaptureButtonGroup .km-button {
        width: 30%;
        height: 15px;
        z-index: 1;
    }

    #TimeEntryCaptureButtonGroup .km-state-active {
        background-color: #0076BB;
        border-color: #0076BB;
    }

#session-entries-phone {
    position: relative;
    min-height: 750px;
}

.visible {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    transition: visibility .1s, opacity .1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility .1s, opacity .1s linear;
}

    #divStackScroll-Phone form .km-filter-wrap {
        margin: 0;
    }

    #divStackScroll-Phone form input {
        height: 25px;
    }

#session-entries-phone > li {
    min-height: 115px;
    border: none;
    box-shadow: none;
    padding-bottom: 0px;
}

#session-entries-phone > li > div:first-child {
    min-height: 68px;
}

#stackView #divTouchEntryTemplate-phone div div {
    height: 22px;
}

#stackView #entriesTemplateNarrative-phone {
    /* margin-left: 20px; */
    width: 83%;
    margin: 0px;
    left: 29.5px;
    float: left;
    resize: none;
    height: 55px;
    line-height: 23px;
    top: -6px;
    font-weight: 500;
    overflow: hidden;
    color: rgb(46, 46, 46);
}

#stackView div#divider {
    position: relative;
    top: 7px;
    left: 0px;
    width: 103%;
}

#stackView .k-drawer-left {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

#stackView .k-drawer-right {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
}

.km-x-swp:after,
.km-x-swp:before {
    content: "\e038";
}

#stackView #stackFlaggedIdentifier {
    border: none;
    padding: 0px;
    color: black;
    position: absolute;
    top: 4px;
    right: 63px;
    width: 24px;
    font-size: 14pt; 
}

#stackView li#flagEvent,
#stackView li#removeEvent {
    height: 130px;
}

#stackView .flagDrawer .k-drawer-item.k-state-selected.k-state-hover,
#stackView .flagDrawer .k-drawer-item.k-state-selected:hover,
#stackView .flagDrawer .k-drawer-item.k-state-selected {
    background-color: var(--flaggedEventColor);
}

#stackView .removeDrawer .k-drawer-item.k-state-selected.k-state-hover,
#stackView .removeDrawer .k-drawer-item.k-state-selected:hover,
#stackView .removeDrawer .k-drawer-item.k-state-selected {
    background-color: rgb(218, 169, 169);
}

#stackView #removeEventIcon {
    margin-left: 380px;
    top: 40px;
    color: black;
}

#stackView #removeEventText {
    top: -15px;
    position: relative;
    color: black;
}

#stackView #flagEventIcon {
    top: 40px;
    margin-left: 10px;
    color: black;
}

#stackView #flagEventText {
    position: relative;
    top: -15px;
    margin-left: 30px;
    color: black;
}

#statusImageTemplate {
    position: absolute;
    left: 16px;
    top: 10px;
    padding-bottom: 10px;
    width: 16px;
}

#returnedEntryIndicator {
    position: absolute;
    left: -1px;
    top: 2em;
    padding-bottom: 10px;
    width: 27px;
    border: none;
    color: red;
    font-size: 13pt;
}

#stackTimerIdentifier,
#stackTimeEntryIdentifier,
#stackTimeCaptureIdentifier {
    float: right;
    margin-top: 2em;
    border: none;
    display: none;
}

/* #stackTimeCaptureIdentifier {
    float: right;
    margin-top: 2em;
    border: none;
} */

#stackTimerIdentifier,
#stackTimeEntryIdentifier {
    font-size: 13pt;
    top: -9px;
    right: -3px;
}

#stackView #stackTimerIdentifier span.km-icon.km-recents,
#stackView #stackTimeEntryIdentifier span.km-icon.km-recents {
    color: black;
}

#stackTimerIdentifier.km-state-active,
#stackTimeEntryIdentifier.km-state-active {
    background-color: inherit;
}

#stackView #stackTimerIdentifier.km-state-active span.km-icon.km-recents {
    color: var(--customBlue);
}

#stackView #stackTimeCaptureIdentifier {
    position: relative;
    right: 9px;
}

.stackViewField {
    margin-left: 36px;
    width: 75%;
}

#dateTemplate {
    margin-left: 36px;
    position: relative;
    top: -4px;
}

#entriesTemplateHrs {
    position: absolute;
    top: 6px;
    right: 21px;
    background-color: transparent;
    font-size: 16px;
}

#entriesTemplateClient-phone {
    margin-top: -3px;
}

#divTouchEntryTemplate-phone div:empty:before {
    content: attr(data-placeholder);
    color: gray
}

#stackView .massActionCheckboxLabel {
    display: none;
    z-index: 0
}

#stackView #divStackScroll-Phone .round {
    padding: 10px 16px;
    position: relative;
    height: 40px;
    width: 40px;
    top: -74px;
    left: -3px;
}


#stackView .massActionCheckbox {
    top: -4.6em;
    left: -0.5em;
    height: 40px;
    width: 40px;
    z-index: 1;
}

/* #stackView .massActionCheckbox {     
    position: absolute;
    top: 50px;
    left: -2px;
    height: 20px;
    width: 20px;
    display: none;
} */
/* 
#stackView .massActionCheckboxLabel {
    display: none;
}

#stackView .round {
    padding: 10px 16px;
    position: relative;
    height: 40px;
}


#stackView .round label {
    top: 0px;
}

#stackView .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 16px;
    height: 25px;
    width: 25px;
}

        #stackView .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            opacity: 0;
            position: absolute;
            top: 8px;
            left: 6px;
            transform: rotate(-45deg);
            height: 4px;
            width: 9px;
        } */

/*#divStackButtons-phone a.km-state-active {
    background-color: var(--customBlue);
}*/
