﻿/*General Styling*/
#timeEntryView .km-content {
    top: 1px;
}

.invalidField {
    border: solid red 2.5px !important;
    padding: .4em 1em .4em 0.3em !important;
    left: -8px;
    width: 100%;
}

#timeEntryView #liNarrative-phone.invalidField {
    /* width: 104%; */
    padding-right: 0px !important;
    height: 16em !important;
}

/* .km-ios7 #timeEntryView.km-view:not([data-use-native-scrolling])  {
    overflow: hidden;
} */

#timeEntryView #massActionCancelTouch {
    display: none;
}

#timeEntryView .km-content,
#clientLookupView .km-content,
#matterLookupView .km-content,
#custom1LookupView .km-content,
#custom2LookupView .km-content,
#custom3LookupView .km-content,
#custom4LookupView .km-content,
#custom5LookupView .km-content {
    padding-right: 0px;
    margin-bottom: 80px;
}

#timeEntryView #pageTitleTop {
    width: 61%;
    left: 21%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
}

#timeEntryView #timeEntryDescToggle {
    display: none;
    float: left;
    top: -10px;
    position: relative;
}

#timeEntryView #toggleEntryDescription {
    border: none;
    top: 32px;
}

#timeEntryView #toggleEntryDescription.km-state-active {
    color: black;
    background-color: inherit;
}

#timeEntryView #timeEntryNarDone {
    position: absolute;
    top: 30px;
    right: 0px;
    height: 60px;
    color: white;
    font-weight: 600;
    font-size: 14pt;
}

#timeEntryView #narrativeDone {
    border: none;
}

#timeEntryView #timeEntryKeyboardClose {
    position: absolute;
    top: 24px;
    left: -16px;
    height: 60px;
    color: white;
    font-weight: 900;
    font-size: 21pt;
}

#timeEntryView #keyboardClose {
    border: none;    
}

#timeEntryView #divTimeEntryScroll-Phone {
    margin-bottom: 128px;
}

#list-timeform-phone li {
    border-image: none;
}

#timeEntryView #list-timeform-phone #timeEntryDatePicker-phone-row {
    padding: 8px 0px 6px;
    overflow: visible;
}

#timeEntryView #timeEntryDateInput,
#timeEntryView #fieldNarrative-phone,
#timeEntryView span.k-picker-wrap.k-state-disabled,
#timeEntryView span.k-picker-wrap.km-state-disabled {
    opacity: 1;
    color: black;
    border-color: #c5c5c5;
}

#timeEntryView .phoneTimeInput {
    top: 1px
}

#timeEntryView input:disabled, 
#timeEntryView textarea:disabled {
    opacity: 1;
    color: black;
}

#timeEntryView #list-timeform-phone label {
    top: 1px;
    position: relative;
}

#timeEntryView #timeEntryDatePicker-phone-row label {
    top: 3px;
}

#list-timeform-phone input {
    top: 21px;
    color: black;
}

    #list-timeform-phone li.inputField {
        height: 45px;
        padding-left: 0px;
    }

        #list-timeform-phone li.inputField a {
            top: 1px;
            text-decoration: none;
        }

/* #list-timeform-phone #fieldClient_phone {
    width: 68%;
} */

 #list-timeform-phone #fieldClient_phone {
        width: 62%;
    }

    #list-timeform-phone input {
        left: 72px;
        width: 70%;
    }

    #timeEntryView .phoneTimeInput {
        left: 31px;
    }

/* #list-timeform-phone input {
    left: 43px;
    width: 78%;
} */

/* Smaller than iPad Specific */
/* @media only screen 
and (min-device-width : 0px) 
and (max-device-width : 768px)  { 
    #list-timeform-phone #fieldClient_phone {
        width: 63%;
    }

    #list-timeform-phone input {
        left: 62px;
        width: 70%;
    }

    #timeEntryView .phoneTimeInput {
        left: 21px;
    }
} */


#timeEntryView #list-timeform-phone li a.clearEntryField {
    border: none;
    /* align-content: center; */
    /* float: right; */
    /* place-content: flex-end; */
    width: 45px;
    right: -16.35em;
    height: 45px;
    top: 11px;
    font-size: 14pt;
    margin: 0px;
    color: var(--customDarkGrey);
    z-index: 2;
}

#timeEntryView #list-timeform-phone li a.clearEntryField.km-state-active {
    color: var(--customBlue);
    background-color: inherit;
}

    /*Offset Adjustment for Duration List Entry*/
    #list-timeform-phone input#fieldDurationTime-phone,
    #list-timeform-phone input#fieldDurationUnits-phone {
        top: 21px;
        left: 55px;
        width: 30%;
    }

    #list-timeform-phone #duration-timeentry-row.invalidField input#fieldDurationTime-phone,
    #list-timeform-phone #duration-timeentry-row.invalidField input#fieldDurationUnits-phone {
        left: 61px;
        top: 19px;
    }

#list-timeform-phone a:after {
    display: none;
}

#release-confirm-phone,
#save-confirm-phone {
    visibility: hidden;
    position: relative;
    top: 3px;
    left: 26px;
    margin-right: -20px;
}

/* #release-confirm-phone {
    visibility: hidden;
    position: relative;
    top: 3px;
    left: 16px;
    margin-right: -20px;
} */

#imgStatus-phone {
    position: relative;
    top: 3px;
    left: 48px;
    height: 16px;
}

#toggleEventTitleInfo,
#toggleBillingGuideInfo {
    border: none;
}

#toggleEventTitleInfoTouch {
    right: -2.4em;
    height: 40px;
    position: relative;
    width: fit-content;
    display: inline-block;
}

#toggleEventTitleInfo span {
    top: .3em;
}

#list-timeform-phone #toggleBillingGuideInfo {
        right: -4em;
    /* top: -5px; */
    font-size: 13pt;
    /* float: right; */
    position: relative;
    display: none;

}

.clipped {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
}

.timeEntryField {
    margin-left: 40px;
}

#timeEntryView #liNarrative-phone {
    box-shadow: none;
    width: 100%;
    /* padding: .5em 1em 0em 0em; */
    padding: .5em .7em 0em 0em;
    height: 19em;
}

#timeEntryView #liNarrative-phone-scroll {
    border-top: solid 1px rgba(180,180,180,.5);
}

#timeEntryView #fieldNarrative-phone {
    /* height: -webkit-fill-available; */
    width: 100%;
    /* left: -5px; */
    font-size: 14pt;
    resize: inherit;
    height: 18em;
    overflow-y: scroll;
    box-sizing: border-box;
    border-radius: 0;
}

#timeEntryView #narrativeCountContainer {
    display: none;
    margin: 18px 0px;
}

#timeEntryView #button-Close-phone {
    display: none
}

#timeEntryView p#narrativeCharCount {
    /* padding: 5px; */
    font-size: 15px;
    font-weight: 400;
}

/*END - GENERAL STYLING*/
/*User Feedback Dropdown*/
.km-collapsible-header .km-warning-swp {
    display: none;
}

/*Generated header Icon automatically closes the header and causes unwanted behavior, switching to a fixed icon*/
#timeEntryView #userFeedbackMessages .km-x-swp {
    z-index: -10;
}

#timeEntryView #userFeedbackMessages #collapsibleHeaderX {
    float: right;
    border: none;
    top: -2.2em;
    right: -0.4em;
    z-index: 7;
    color: black;
    font-size: 1.2em;
}

    #timeEntryView #userFeedbackMessages #collapsibleHeaderX.km-state-active {
        background-color: inherit;
        color: var(--customBlue);
    }

#timeEntryView .km-collapsible-content ul,
#timeEntryView .km-collapsible-content li,
#timeEntryView .bgHeaderText {
    margin: 10px 0px;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}


#timeEntryView #bgHeaderContainer {
    margin: 25px 16px 25px 16px;
}

#bgReleaseOverrideButtons a {
    color: var(--customBlue);
}

#timeEntryView #bgViolationContainer,
#timeEntryView #bgReleaseOverrideButtons {
    margin: 0px 16px 25px 16px;
}

#timeEntryView #followBillingGuidelinesTouch {
    margin-left: 25px;
}

    #timeEntryView .bgHeaderText {
        font-weight: 600;
    }

#timeEntryView #billingGuidelineErrors {
    color: red;
}

/*END -User Feedback Dropdowns*/
/* TIMER HEADER & DROPDOWN */
#timeEntryView .km-collapsible-content,
#timersView .km-collapsible-content {
    padding: 0;
    border-bottom: solid black 3px;
}

#timeEntryView #timerName {
    display: flex;
    margin: 27px 16px 25px 16px;
}

#timeEntryView #clientLookupCollapsible,
#timeEntryView #matterLookupCollapsible {
    display: none
}

#timeEntryView #timerColors,
#timersView #timerColors {
    justify-content: space-between;
    display: flex;
    margin: 0px 16px 25px 16px;
}

#timeEntryView #timerName label,
#timersView #timerName label {
    position: relative;
    top: 6px;
}

#timerNameInput {
    width: 85%;
    border-color: black;
}

#timeEntryView #timerColorIndicator,
#timersView #timerColorIndicator {
    height: 28px;
}

#timeEntryView .timerColorOption {
    border: solid black .5px;
    border-radius: 1em;
    height: 25px;
    width: 25px;
}

#timerColorWhite {
    background-color: white;
}

#timerColorAqua {
    background-color: aqua;
}

#timerColorBrown {
    background-color: brown;
}

#timerColorGrey {
    background-color: grey;
}

#timerColorOlive {
    background-color: olive;
}

#timerColorYellow {
    background-color: yellow;
}

#timerColorLime {
    background-color: lime;
}

#timerColorRed {
    background-color: red;
}

#timerColorOrange {
    background-color: orange;
}

#timerColorPink {
    background-color: pink;
}
/* END - TIMER HEADER & DROPDOWN */
/* DATE INPUT FIELD*/
#timeEntryDatePicker-phone-row a.km-state-active {
    background-color: inherit;
    color: var(--customBlue);
}

.k-datepicker .k-select {
    display: inline-block;
}

.k-datepicker .k-picker-wrap {
    text-align: left;
    border: none;
    text-overflow: ellipsis;
    background-color: transparent;
    padding-left: 19px;
    box-shadow: none;
}
/*Selector picking up dropdown lists on Timers Settings Page*/
.k-animation-container {
    position: relative !important;
    top: 110px !important;
    left: 50px !important;
}

.k-calendar .k-content {
    table-layout: auto;
}

.k-calendar .k-month .k-link {
    width: auto;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.k-calendar .k-today .k-link {
    color: #0076BB;
    box-shadow: inset 0 0 2px 1px #0076BB;
}

.k-calendar td.k-today.k-state-focused .k-link {
    color: #ffffff;
}

.k-calendar td.k-state-focused .k-link {
    color: #ffffff;
    box-shadow: inset 0 0 2px 1px #0076BB;
}

.k-calendar td.k-state-selected .k-link {
    background-color: #0076BB;
    border-color: #0076BB;
    box-shadow: none;
}

.k-calendar .k-footer .k-nav-today {
    color: #0076BB;
}

/*END - DATE INPUT FIELD*/
/*CLIENT VIEW STYLES*/
#client-listview-phone li {
    padding-top: 17px;
    height: 55px;
    width: 99%;
    padding-left: 2px;
    border-image: none;
}

.client-listitem {
    padding: 0px !important;
    height: inherit;
}

#clientLookupView .cvClientName {
    margin-top: -13px;
    position: relative;
}

#clientLookupView .cvMatterName {
    margin-top: -5px;
}

    .cvMatterName:empty {
        display: none;
    }

/*MATTER VIEW STYLES*/
#matter-listview-phone li {
    padding-top: 12px;
    height: 45px;
    padding-left: 2px;
    border-image: none;
}

.matter-listitem {
    padding: 0px !important;
    height: inherit;
}

#matterViewMatterName {
    position: relative;
    top: 2px;
    margin-top: 5px;
}

#clientLookupView #timeEntryAddDefaultDiv,
#clientLookupView #divStackButtons-phone,
#matterLookupView #timeEntryAddDefaultDiv,
#matterLookupView #divStackButtons-phone,
#custom1LookupView #timeEntryAddDefaultDiv,
#custom1LookupView #divStackButtons-phone,
#custom2LookupView #timeEntryAddDefaultDiv,
#custom2LookupView #divStackButtons-phone,
#custom3LookupView #timeEntryAddDefaultDiv,
#custom3LookupView #divStackButtons-phone,
#custom5LookupView #timeEntryAddDefaultDiv,
#custom5LookupView #divStackButtons-phone,
#custom4LookupView #timeEntryAddDefaultDiv,
#custom4LookupView #divStackButtons-phone {
    display: none;
}

#custom1-listview-phone li,
#custom2-listview-phone li,
#custom3-listview-phone li,
#custom4-listview-phone li,
#custom5-listview-phone li {
    padding-top: 12px;
    height: 45px;
    padding-left: 2px;
    border-image: none;
}



/*DURATION STYLING*/
/*INPUT FIELD*/
.invalidDurationField {
    border: solid red 2px !important;
}

/* TIMER INPUT FIELD */
div#durationTouchDiv input {
    margin-top: -15px;
}

#list-timeform-phone #fieldTimer-phone {
    position: relative;
    left: 44px;
    top: 3px;
    /* margin: -5px 0px; */
    text-align: left;
    border: none;
    font-family: myDigital;
    font-size: 19px;
    font-weight: 600;
    color: black;
    background-color: transparent;
    width: 100px;
}

#durationTouchDiv {
    width: 50%;
    display: inline-block;
}

#spanTimerPhone span {
    top: 1px;
    padding: 5px 8px;
    margin: -5px 0px;
    width: 70px;
    -webkit-text-size-adjust: none;
}

#btnStartTimer-phone {
    background-color: green !important;
}

#btnPauseTimer-phone {
    background-color: var(--customRed) !important;
}

#btnStartTimer-phone,
#btnPauseTimer-phone {
    color: black;
    display: inline-block;
    left: 8px;
}

#btnPauseTimer-phone span,
#btnStartTimer-phone span {
    color: white;

}

#btnClearTimer-phone {
    color: black;
    position: relative;
    display: inline-block;
    right: -23px;
}

/*#btnTimerToggle-phone {
    float: right;
    width: 12%;
    height: 45px;
    top: -8px;
    right: -10px;
    position: relative;
    vertical-align: middle;
    text-align: right;
    z-index: 2;
}*/

#list-timeform-phone #btnTimerToggle-phone {
    z-index: 2;
    float: right;
    position: relative;
    top: -5px;
    right: -2px;
}

#timeEntryView #btnTimerToggle {
    border: none;
}

    #btnTimerToggle-phone img {
        top: 11px;
        right: 10px;
        position: relative;
    }

#spanTimerPhone {
    top: 2px;
}
/* END - TIMER INPUT FIELD */
/*VIEW*/
#durationView #timeEntryAddDefaultDiv,
#durationView #divStackButtons-phone {
    display: none;
}

#durationView #pageTitleTop {
    width: 60%;
    position: fixed;
    left: 20%;
}

#durationTouchDiv a {
    text-decoration: none;
    vertical-align: middle;
}

#timeEntryView #list-timeform-phone label#lblHours-phone {
    vertical-align: middle;
    top: 0px;
}

#durationView .km-content {
    padding: 0px;
    background-color: white;
    padding-top: 20px;
}

#durationViewContent {
    margin: 15px 20px 100%;
    text-align: center;
}

.km-button.duration-button {
    width: 25%;
    margin: 0;
    height: 25%;
    /* box sizing puts the border inside the box so it doesn't add to the 25% width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.9em;
    background-color: var(--customGrey);
    border: solid 5px white;
    border-radius: 25px;
    padding: 0.5em .8em;
    float: left;
}

a#button-clear {
    font-size: 1.81em;
    /* font-size: 20pt; */
    padding: 0.58em;
}

    .duration-button div {
        /* center all the button captions */
        width: 15px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        /* attempt to vertically align middle */
        top: 25%;
    }

    #durationView #button-add-arrow,
    #durationView #button-minus-arrow {
        padding: .25em .8em;
    }

#button-zero {
    width: 50%;
    position: relative;
}

#button-submit {
    width: 100%;
    margin-top: 10px;
}

#divCalc-phone {
    height: 280px;
    margin: 0;
    /* this solves some jumpiness which was occuring in the hours box when changing between empty and having numbers in it */
    /*position: absolute;*/
    width: 100%;
    top: 130px;
    /* end workaround */
}

/* #divCalc-phone .km-text {
    vertical-align: middle;
} */

/* div that goes around the div which displays the total */
#divDurationTotalParent {
    color: white;
    background-color: black;
    text-align: right;
    width: 97%;
    font-weight: 400;
    display: inline-block;
    position: relative;
    height: 75px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* div which displays the total */
#divDurationTotal {
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 50px;
    height: 60px;
}

#divDurationTotalTime {
    margin: .16em .43em;
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 50px;
    height: 60px;
}

    #divDurationTotalTime #hours {
        display: inline-block;
        margin-right: -13px;
        text-align: center;
        width: 1.4em;
    }

    #divDurationTotalTime #hrMinSeparator,
    #divDurationTotalTime #minSecSeparator {
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
    }

    #divDurationTotalTime #minutes {
        display: inline-block;
        margin-left: -14px;
        margin-right: -13px;
        text-align: center;
        width: 1.4em;
    }

    #divDurationTotalTime #seconds {
        display: inline-block;
        margin-left: -14px;
        text-align: center;
        width: 1.4em;
    }

#divCalc-phone .duration-button.km-widget.km-button.km-state-active,
#divCalc-phone .duration-button.km-widget.km-button.km-state-active .km-text {
    color: white !important;
    background-color: black;
}

/* center 0 on the duration popover */
#button-zero div {
    left: 53px;
}

#button-backspace,
#button-clear,
#button-add-arrow,
#button-minus-arrow {
    background-color: var(--customDarkGrey); /* 848484 */
    color: white;
}

#button-duration-dot {
    font-weight: 900;
}

#button-add-arrow span {
    vertical-align: middle;
}

#button-minus-arrow span {
    vertical-align: middle;
}

#button-duration-dot .km-state-active {
    color: white;
}

#button-clear.km-state-active,
#button-backspace.km-state-active,
#button-add-arrow.km-state-active,
#button-minus-arrow.km-state-active {
    background-color: white;
    color: var(--customBlue);
}

    #button-clear.km-state-active .km-text,
    #button-add-arrow.km-state-active .km-text,
    #button-minus-arrow.km-state-active .km-text {
        color: var(--customBlue);
    }

.km-clear-swp:after {
    font-size: 18px;
    font-weight: 100;
}

.km-backspace-swp:after,
#button-add-arrow .km-text,
#button-minus-arrow .km-text {
    font-size: 1em;
    font-weight: 100;
}

#button-add-arrow .km-text,
#button-minus-arrow .km-text {
    font-size: 1.6em;
    top: -.2em;
    position: relative;
}

#button-minus-arrow .km-text {
    font-size: 1.6em;
    top: -.25em;
    position: relative;
}

#button-backspace .km-backspace-swp {
    left: -3px;
    font-size: 1.1em;
}

#durationView #durationViewErrorMessageDisplay {
    display: none;
    position: relative;
    top: 50px;
    color: red;
}
/*END - DURATION STYLING*/
/*NARRATIVE STYLING*/
/* #narrativeFullScreenToggleTouch {
    position: absolute;
    right: -.9em;
    top: -0.05em;
    z-index: 5;
    font-size: 1.7em;
    color: black;
} */

/* #narrativeFullScreenToggleTouch .km-x-swp {
    top: .28em;
} */

#narrativeFullScreenToggle {
    border: none;
}
#narrativeFullScreenToggle.km-state-active {
    background-color: transparent;
}

/*END - NARRATIVE STYLING*/
/*GENERAL LOOKUP VIEW STYLING*/

.km-listview-wrapper form .km-filter-wrap>input {
    font-size: 1.2em;
    padding: .3em 2.8em .3em 1.8em;
}

span.km-icon.km-clear {
    right: 1.06em;
}