/*General Styling*/
#timersView .km-content {
   padding: 0px;
}

#timersView #backNavButton,
#timersView #timerColorIndicator {
    display: none;
}

#timersView #session-entries-list-timer li > a {
    position: absolute;
    top: 0.6em;
    left: 1em;
    z-index: 3;
    height: 25px;
    width: 25px;
    padding: 0px;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 3px black;
}

#timersView #session-entries-list-timer div.timerColorOptionTouch {
    display: inline-block;
    z-index: 3;
    height: 100%;
    width: 15%;
}

#divTouchTimerTemplate-phone .timerInfo {
    margin-left: 41px;
}

#divTouchTimerTemplate-phone .timerInfo.timerName {
    font-size: 15pt;
    font-weight: 500;
    position: relative;
}

#timersView #session-entries-list-timer > li {
    height: 85px;
    /* border-image: none; */
    border-image: linear-gradient(to right,transparent 1.15em,rgba(180,180,180,.5) 1em,rgba(180,180,180,.5) 100%) 1 stretch;
    overflow: visible;
    padding: 0;
}

#timersView #divTouchTimerTemplate-phone {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

#timersView #divTouchTimerTemplate-phone div.spanEntries-phone {
    display: inline-block;
    height: 92%;
}

#timersView #divTouchTimerTemplate-phone div div {
    line-height: 17px;
    vertical-align: middle;
    margin: 5px 0px;
    top: 2px;
    position: relative;
    width: 12em;
}

#timersView #divTouchTimerTemplate-phone div div#timerTemplateTimerName {
    line-height: 25px;
    /* top: -2px;
    margin-bottom: -5px;
    margin-top: 12px; */
    width: 10em;
}

#timersView #session-entries-list-timer .timerToggleTouch {
    float: right;
    display: inline-block;
    height: 100%;
    width: 33%;
}

.timerValueBorder {
    border: solid 2.5px black;
    position: relative;
    margin: 11px 10px;
    height: 75%;
    /* padding: 1em; */
    display: block;
}

#timersView #timerTemplateTimerValue {
    /* padding: 1em; */
    padding: 1em 1em 1em .75em;
    display: block;
    font-size: 18px;
}

/*Previous Session Dropdown*/
#timersView #loadPreviousCollapsibleHeader {
    padding: 16px;
}

#loadPreviousSessionButtons span a {
    margin: 10px 10px 0px 0px;
    width: 70px;
}

#timersView #loadPreviousSessionButtons span a {
    color: var(--customBlue);
    border: var(--customBlue) solid 1px;
}

    #loadPreviousSessionButtons span a.km-state-active {
        background-color: var(--customBlue);
        color: white;
        border-color: white;
    }

/*Sort Timers Dropdown*/

#timersView #timerSortToggleTouch {
    display: block;
    float: left;
    top: -10px;
    position: relative;
}

#timersView #timerSortToggle {
    border: none;
    color: white;
    font-size: 17pt;
}

    #timersView #timerSortToggle.km-state-active {
        background-color: inherit;
    }

#timersView #timersSortList li {
    height: 40px;
    border-image: none;
}

#timersSortList .timersSettingsHeader {
    background-color: var(--customLightGrey);
    font-weight: 600;
}

#timersView #timersSortList .round {
    padding: 0px;
}

    #timersView #timersSortList .round label {
        margin-top: -.6em;
    }

/* #timersView #timersSortList #sortByTimerDateRow {
    border-top: none;
} */

/*Timer Color/Note/Client/Matter Dropdown*/
#timersView .timerColorOption {
   border: solid black .5px;
    border-radius: 1em;
    height: 25px;
    width: 25px;
    position: relative;
    display: block;
}

#timersView .timerColorOption.entry {
    /* margin: .9em 1em; */
    margin: .9em 0.5em .9em 1.2em;
}

#timersView #userFeedbackMessages .km-collapsible-content {
    padding: 0px;
}

#timersView #timerCollapsibleHeader div {
    margin: 10px 16px 10px 16px;
}

#timersView #timerCollapsibleHeader input {
    font-size: 1em;
    border: 1px solid;
    line-height: 1.65em;
    border-radius: .25em;
    width: 86%;
    text-indent: .571em;
    padding: 4px 1px 2px;
}

#timersView #timerCollapsibleHeader #timerNameInput {
    width: 85%
}

#timersView #timerCollapsibleHeader input::placeholder,
#timersView #timerCollapsibleHeader input::value {
    text-indent: .571em;
}

#timersView #timerCollapsibleHeader a {
    text-decoration: none;
}

/*Timer Kendo Drawer Styling*/
#session-entries-list-timer > li > .k-drawer-container {
    height: 80px;
    display: inline-block;
    float: left;
    left: -16px;
    top: -3px;
    position: relative;
    width: 0px;
}

#session-entries-list-timer > li > .k-drawer-container.k-drawer-expanded {
    z-index: 5;
}

#session-entries-list-timer .k-drawer-items ul {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
}

#session-entries-list-timer .k-drawer-items li {
    width: 75px;
    height: 80px;
    padding: 0px;
    justify-content: center;
}

span.k-item-text {
    top: 1.5em;
    /*position: relative;
    height: fit-content;*/
    align-self: center;
}

li#moreTimerOption {
    color: white;
    background-color: gray;
}

li#saveTimerOption {
    color: white;
    background-color: teal;
}

li#releaseTimerOption {
    color: white;
    background-color: var(--customBlue);
}

#timersView .dropDownList {
    width: 150px;
    display: none;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    background-color: white;
    color: var(--customBlue);
    top: 80px;
    border: solid .5px;
}

#timersView .dropDownList > div {
    padding: 10px 16px;
    border-bottom: solid 1px;
}

/*Save/Release Feedback Styling*/
#timersView .imgSave {
    display: none;
    top: 2.5em;
    left: 1.2em;
    position: absolute;
}

#timersView .imgFail {
    display: none;
}

/* textarea#fieldNarrative-phone:disabled {
    color: darkgray;
} */